.btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 4px;

	&:disabled,
	&.disabled {
		border-color: transparent;
		background-color: $info-200;
		color: $info-500;
	}

	&[class^="ic-"],
	&[class*="ic-"] {
		&:before {
			font-size: 18px;
			transition: all 0.3s ease 0s;
		}
	}

	&.ico {
		padding: 9px;

		&[aria-expanded="true"] {
			&:before {
				transform: rotate(-180deg);
			}
		}
	}

	&.ico-left {
		padding-left: 8px;
	}

	&.ico-right {
		padding-right: 8px;
		flex-direction: row-reverse;
	}
}

.btn-sm {
	gap: 2px;

	&[class^="ic-"],
	&[class*="ic-"] {
		&:before {
			font-size: 14px;
		}
	}

	&.ico {
		padding: 7.5px;
	}
}

.btn-primary {

	&:disabled,
	&.disabled {
		background-color: $info-500;
		color: $white;
	}
}

.btn-secondary {
	color: $white;

	&:hover {
		color: $white;
	}

	&:active {
		color: $white  !important;
	}
}

.btn-success {
	border-color: $success-100;
	background-color: $success-100;
	color: $success;

	&:hover {
		border-color: $success-200;
		background-color: $success-200;
		color: $success;
	}

	&:active {
		color: $success  !important;
		border-color: $success-200  !important;
		background-color: $success-200  !important;
	}
}

.btn-danger {
	border-color: $danger-100;
	background-color: $danger-100;
	color: $danger;

	&:hover {
		border-color: $danger-200;
		background-color: $danger-200;
		color: $danger;
	}

	&:active {
		color: $danger  !important;
		border-color: $danger-200  !important;
		background-color: $danger-200  !important;
	}
}

.btn-warning {
	border-color: $warning-100;
	background-color: $warning-100;
	color: $warning;

	&:hover {
		border-color: $warning-200;
		background-color: $warning-200;
		color: $warning;
	}

	&:active {
		color: $warning  !important;
		border-color: $warning-200  !important;
		background-color: $warning-200  !important;
	}
}

.btn-info {
	border-color: $info-100;
	background-color: $info-100;

	&:hover {
		border-color: $info-300;
		background-color: $info-300;
	}

	&:active {
		border-color: $info-300  !important;
		background-color: $info-300  !important;
	}

	&:disabled,
	&.disabled {
		background-color: transparent;
	}
}

.btn-light {
	background-color: $white;
	background-color: $white;

	&:hover {
		border-color: $info-200;
		background-color: $info-200;
	}

	&:active {
		border-color: $white  !important;
		background-color: $white  !important;
	}

	&:disabled,
	&.disabled {
		background-color: transparent;
	}
}

.btn-custom {
	&.ico-right {
		&::before {
			font-size: 18px;
			padding: 1.5px;
			background-color: $primary;
			border-radius: 50%;
			right: 0;
		}
	}

	&:hover {
		color: $secondary;
	}

	&:active {
		border-color: transparent !important;
		background-color: transparent !important;
		color: $black  !important;
	}

	&:disabled,
	&.disabled {
		background-color: transparent;

		&.ico-right {
			&::before {}
		}
	}
}

.btn-link {
	font-weight: 500;

	&:disabled,
	&.disabled {
		background-color: transparent;
	}
}

.btn-outline-primary {
	color: $black;
	background-color: $white;

	&:disabled,
	&.disabled {
		border-color: $info-400;
		background-color: $info-100;
		color: $info-500;
	}
}

[class^="btn-outline-"],
[class*="btn-outline-"] {
	background-color: $white;

	&:disabled,
	&.disabled {
		border-color: $info-400;
		background-color: $info-100;
		color: $info-500;
	}
}

.btn-outline-primary {
	color: $black;
	background-color: $white;
}

.btn-outline-secondary {
	&:hover {
		color: $white;
	}

	&:active {
		color: $white  !important;
	}
}

.btn-outline-success {
	&:hover {
		color: $green;
		background-color: $green-100;
		border-color: $green-100;
	}

	&:active {
		color: $green  !important;
		background-color: $green-100  !important;
		border-color: $green-100  !important;
	}
}

.btn-outline-danger {
	&:hover {
		color: $danger;
		background-color: $danger-100;
		border-color: $danger-100;
	}

	&:active {
		color: $danger  !important;
		background-color: $danger-100  !important;
		border-color: $danger-100  !important;
	}
}

.btn-outline-warning {
	&:hover {
		color: $warning;
		background-color: $warning-100;
		border-color: $warning-100;
	}

	&:active {
		color: $warning  !important;
		background-color: $warning-100  !important;
		border-color: $warning-100  !important;
	}
}

.btn-outline-info {
	color: $info-700;
	background-color: $info-100;
	border-color: $info-300;

	&:hover {
		background-color: $info-300;
		border-color: $info-300;
	}

	&:active {
		background-color: $info-300  !important;
		border-color: $info-300  !important;
	}
}

.btn-outline-light {
	color: $black;
	border-color: $info-200;

	&:hover {
		background-color: $info-200;
		border-color: $info-200;
	}

	&:active {
		background-color: $info-200  !important;
		border-color: $info-200  !important;
	}
}

.qela-btn-group {
	&.btn-group {
		display: inline-flex;
		align-items: center;

		.btn {
			border-color: transparent;
			background-color: transparent;
			padding: 5.5px;
			color: $info-600;

			@media (any-hover:hover) {
				&:hover {
					color: $secondary;
				}
			}

			&.danger {
				color: $danger;

				@media (any-hover:hover) {
					&:hover {
						color: $danger-600;
					}
				}
			}

			::before {
				font-size: 18px;
			}
		}
	}
}

.btn-group,
.btn-group-vertical {
	.btn-outline-info {
		color: $info-600;
		border-color: $info-400;
	}
}

.btn-close {
	background-color: $white;
	border-radius: 50%;
	padding: 7px;

	&::before {
		font-size: 18px;
	}

	&:disabled {
		color: $info-500;
	}

	&.small {
		width: auto;
		height: auto;
		padding: 1px;

		&::before {
			font-size: 16px;
		}
	}
}

.qela-btn-tooltip {
	border: none;
	color: $info-400;
	padding: 0.125rem 0px 0px 0px;

	&:hover {
		color: $secondary;
	}

	&:active {
		color: $secondary  !important;
	}

	&.btn[class^=ic-]:before,
	&.btn[class*=ic-]:before {
		font-size: 16px;
	}
}

.qela-btn-menu {
	position: absolute;
	z-index: 1;
	left: calc(100% - 16px);
	top: 40%;
	border-radius: 50%;
	padding: 9px 4px 9px 14px;
	background-color: $white;
	color: $info-500;

	@media (max-width:($md3+px)) {
		display: none;
	}

	@media (any-hover:hover) {
		&:hover {
			background-color: $white;

			&::before {
				color: $black;
			}
		}
	}

	&::before {
		transition: transform .3s ease 0s, color 0.2s;
		font-size: 14px;
		color: $info-500;
		transform: rotate(-90deg);
	}

	&.active {
		&::before {
			transform: rotate(90deg);
		}
	}
}

.qela-btn-close {
	background-color: transparent;
	z-index: 4;
	top: 4px;
	right: 4px;
	display: none;

	@media (max-width:($md3+px)) {
		display: block;
	}

	&::before {
		font-size: 28px;
	}
}

.qela-burger {
	display: none;

	@media (max-width: ($md3+px)) {
		display: block;
		cursor: pointer;
		background-color: transparent;

		img {
			pointer-events: none;
		}
	}
}