.qela-checkbox-label {
	font-size: $form-label-font-size;
	color: $form-label-color;
	margin-bottom: -5px;
}

.form-check {
	&.gray {
		.form-check-input {
			border-color: $gray-500-700;
		}
	}
}

.form-check-input {
	&.invalid {
		border-color: $red
	}
}