.form-control {
	@media (any-hover:hover) {
		&:hover {
			border-color: $secondary;
		}
	}

	&:disabled {
		@media (any-hover:hover) {
			&:hover {
				border-color: $gray-400;
			}
		}
	}

	&.is-invalid {
		background-image: none;

		@media (any-hover:hover) {
			&:hover {
				border-color: $danger;
			}
		}

		&~.form-error {
			display: block;
		}

		&~.helper-text {
			display: none;
		}
	}
}

.helper-text {
	display: block;
	color: $gray-600;
	margin-top: 4px;
}

.form-error {
	color: $danger;
	margin-top: 4px;
	display: none;
}

.btn-input {
	background: #F6F6F6;
	border-color: $gray-500-500;
	padding: 10px 6px;

	&::before {
		font-size: 16px;
	}

	&:hover {
		color: $white;
		background-color: $purple;
		border-color: $purple;
		box-shadow: 0px 0px 0px 1px $purple;
	}

	&:disabled {
		background: #CACACA;

		&::before {
			color: $white;
		}
	}
}