.form-control {
	@media (any-hover:hover) {
		&:hover {
			border-color: $secondary;
		}
	}

	&:disabled {
		@media (any-hover:hover) {
			&:hover {
				border-color: $gray-400;
			}
		}
	}

	&.is-invalid {
		background-image: none;

		&:hover {
			border-color: $danger;
		}

		&~.btn-input {
			&:hover {
				border-color: $danger;
				color: $danger;
			}

			&:active {
				color: $danger  !important;
				border-color: $danger  !important;
			}
		}

		&~.helper-text {
			display: none;
		}
	}
}

.helper-text {
	display: block;
	color: $gray-600;
	margin-top: 4px;
	width: 100%;
}

.invalid-feedback {
	font-size: 1rem;
}



.btn-input {
	padding-top: 5px;
	padding-bottom: 5px;
	border-color: $gray-400;
	background: $white;
	color: $gray-600;

	&::before {
		font-size: 18px;
	}

	&:hover {
		background: $white;
		border-color: $secondary;
		color: $secondary;
	}

	&:active {
		color: $secondary  !important;
		border-color: $secondary  !important;
		background: $white  !important;
	}

	&:disabled {
		border-color: $gray-400;
	}
}

.has-validation {
	&.is-invalid {
		&~.helper-text {
			display: none;
		}
	}
}

.form-range {

	&:disabled {
		&::-webkit-slider-runnable-track {
			background: $input-disabled-bg;
		}

		&::-moz-range-track {
			background: $input-disabled-bg;
		}

		&::-ms-track {
			background: $input-disabled-bg;
		}

		&::-ms-fill-lower {
			background: $input-disabled-bg;
		}

		&::-ms-fill-upper {
			background: $input-disabled-bg;
		}
	}
}