.qela-body {
	padding-top: 56px;
	padding-left: 80px;
	min-height: 100vh;

	@media (max-width:($md3+px)) {
		padding-left: 0;
	}
}

.qela-shadow {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.qela-conatiner-sm {
	max-width: 432px;
	padding: 0 16px;
	margin: 0 auto;
}

// .qela-conatiner-md {
// 	max-width: 632px;
// 	padding: 0 16px;
// 	margin: 0 auto;
// }

.qela-clamp {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	white-space: nowrap;
	height: auto;
}

.qela-pad-r {
	padding-right: 70px;

	@media (max-width:($md3+px)) {
		padding-right: 16px;
	}
}

.qela-pad-l {
	padding-left: 70px;

	@media (max-width:($md3+px)) {
		padding-left: 16px;
	}
}

.qela-rounded-st {
	border-top-left-radius: $border-radius  !important;
}

.qela-rounded-et {
	border-top-right-radius: $border-radius  !important;
}

.qela-rounded-eb {
	border-bottom-right-radius: $border-radius  !important;
}