.qela-body {
	--body-pad-top: 56px;
	padding-top: var(--body-pad-top);
	padding-left: 80px;
	min-height: 100vh;

	@media (max-width:($md3+px)) {
		padding-left: 0;
	}
}

.qela-shadow {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.qela-conatiner-sm {
	max-width: 432px;
	padding: 0 16px;
	margin: 0 auto;
}

.qela-clamp {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	white-space: nowrap;
	height: auto;
}

.qela-pad-r {
	padding-right: 65px;

	@media (max-width:($md3+px)) {
		padding-right: 16px;
	}
}

.qela-pad-l {
	padding-left: 65px;

	@media (max-width:($md3+px)) {
		padding-left: 16px;
	}
}

.qela-rounded-st {
	border-top-left-radius: $border-radius  !important;
}

.qela-rounded-et {
	border-top-right-radius: $border-radius  !important;
}

.qela-rounded-eb {
	border-bottom-right-radius: $border-radius  !important;
}

.word-break {
	word-break: break-word !important;
}

.h-100vh {
	height: calc(100vh - (var(--body-pad-top) + $spacer + $spacer));

	@media (max-width:($md2+px)) {
		height: auto;
	}
}

.qela-scroll {
	overflow: hidden;

	@media (max-width:($md2+px)) {
		overflow: auto;
	}
}