<!-- FIX Badge  -->
<h2 class="h1 mt-4" id="h3Btn10">Badge</h2>
<!-- FIX Pill badges  -->
<h4>Pill badges</h4>
<div class="d-flex gap-2">
	<span class="badge bg-primary text-black">Primary</span>
	<span class="badge bg-secondary">Secondary</span>
	<span class="badge bg-success">Success</span>
	<span class="badge bg-danger">Danger</span>
	<span class="badge bg-warning">Warning</span>
	<span class="badge bg-info-100 text-black">Info</span>
	<span class="badge text-bg-light">Light</span>
</div>
<div>
	<span class="badge bg-info-200 px-2 py-1 text-info-900 fs-6 fw-normal"><small>Info</small></span>
</div>
<!-- FIX Pill badges small -->
<h4>Pill badges small</h4>
<div>
	<span class="badge rounded-pill text-bg-danger qela-badge small">Danger</span>
</div>