<!-- FIX Card  -->
<h2 class="h1 mt-4" id="h3Btn23">Cards</h2>
<div class="d-flex flex-wrap gap-2">
	<a href="#" class="card qela-card" style="width: 13.625rem;">
		<div class="qela-ibg">
			<img src="img/table-img-1.jpg" class="card-img-top" alt="img">
		</div>
		<div class="card-body pt-2">
			<div class="text-end pb-2">
				<span class="badge qela-badge-success">Published</span>
			</div>
			<h5 class="card-title h6">Share invite to the Climate Unity March!</h5>
		</div>
	</a>
	<a href="#" class="card qela-card" style="width: 13.625rem;">
		<div class="qela-ibg qela-noimg bg-info-100">
			<span class="ic-img text-info"></span>
		</div>
		<div class="card-body pt-2">
			<div class="text-end pb-2">
				<span class="badge qela-badge-success">Published</span>
			</div>
			<h5 class="card-title h6">Share invite to the Climate Unity March!</h5>
		</div>
	</a>
</div>