<!-- FIX Dropdown  -->
<h2 class="h1 mt-4" id="h3Btn9">Dropdown</h2>
<div class="dropdown">
	<button class="btn btn-sm btn-outline-light ic-chevron ico-right" type="button" data-bs-toggle="dropdown" aria-expanded="false">
		Дії з обраним
	</button>
	<ul class="dropdown-menu shadow">
		<li><button type="button" class="dropdown-item">Змінити статус</button></li>
		<li><button type="button" class="dropdown-item">Відправити Email</button></li>
		<li>
			<hr class="dropdown-divider">
		</li>
		<li><button type="button" class="dropdown-item">Заблокувати</button></li>
		<li><button type="button" class="dropdown-item">Видалити</button></li>
	</ul>
</div>