<!-- FIX Img-preview  -->
<h2 class="h1 mt-4" id="h3Btn22">Img-preview</h2>
<div class="d-flex gap-2 flex-wrap">
	<a href="#" class="qela-ibg qela-preview" style="--img-size: 38px;">
		<img class="rounded-3" src="img/table-img-1.jpg" width="38" height="38" alt="">
	</a>
	<a href="#" class="qela-preview qela-empty rounded-3" style="--img-size: 38px;">
		2+
	</a>
</div>
<div class="mb-2">
	<div class="d-inline-flex bg-info-100 p-1 rounded-2">
		<a href="#" class="qela-ibg qela-preview" style="--img-size: 38px;">
			<img class="rounded-3" src="img/table-img-1.jpg" width="38" height="38" alt="">
		</a>
		<a href="#" class="qela-ibg qela-preview" style="--img-size: 38px;">
			<img class="rounded-3" src="img/table-img-2.jpg" width="38" height="38" alt="">
		</a>
		<a href="#" class="qela-preview qela-empty rounded-3" style="--img-size: 38px;">
			2+
		</a>
	</div>
</div>
<div>
	<div class="d-inline-flex w-100 bg-info-100 p-1 rounded-2">
		<a href="#" class="qela-preview qela-empty rounded-3" style="--img-size: 38px;">
			2+
		</a>
	</div>
</div>
<div class="qela-ibg qela-preview img" style="--img-size: 42px;">
	<img class="rounded" src="img/table-img-1.jpg" width="42" height="42" alt="">
</div>
<div class="qela-preview bg-info-400 text-white rounded ic-img img" style="--img-size: 42px;"></div>