<!-- FIX Items  -->
<h2 class="h1 mt-4" id="h3Btn14">Items</h2>
<h4 class="mt-5">Answer-item-2</h4>
<div class="bg-body border-bottom qela-pad-l py-2 pe-3">
	<div class="row g-2">
		<div class="col-auto">
			<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
				<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
				<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
			</div>
		</div>
		<div class="col">
			<div class="row g-1 g-md-2">
				<div class="col">
					<input type="text" class="form-control" placeholder="Placeholder">
					<div class="invalid-feedback">Error text</div>
				</div>
				<div class="col-12 col-md-auto d-flex gap-3 gap-md-2 align-items-center justify-content-end justify-content-md-center">
					<div class="form-check form-switch px-0 px-md-2">
						<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck17" checked>
						<label class="form-check-label d-block d-md-none" for="SwitchCheck17">Correct</label>
					</div>
					<div class="btn-group" role="group" aria-label="button group">
						<button type="button" class="btn btn-outline-info ico ic-delete"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- FIX Talent-item -->
<h4 class="mt-5">Talent-item</h4>
<div class="bg-body border-bottom p-3">
	<div class="row g-2">
		<div class="col-auto">
			<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
				<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
				<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
			</div>
		</div>
		<div class="col">
			<div class="row g-2">
				<div class="col-md">
					<div>
						<v-multi-select v-model="value4" :searchable="false" open-direction="bottom" :options="options" :single="true"></v-multi-select>
					</div>
					<div class="invalid-feedback">Error text</div>
				</div>
				<div class="col-md">
					<input type="text" class="form-control" placeholder="What are some of the challenges of addressing global warming?">
					<div class="invalid-feedback">Error text</div>
				</div>
				<div class="col-12 col-md-auto d-flex gap-2 align-items-center justify-content-end justify-content-md-center">
					<div class="btn-group" role="group" aria-label="button group">
						<button type="button" class="btn btn-outline-info ico ic-delete"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- FIX Question-item  -->
<h4 class="mt-5">Question-item</h4>
<div class="bg-body border-bottom p-3">
	<div class="row g-2">
		<div class="col-auto">
			<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
				<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
				<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
			</div>
		</div>
		<div class="col">
			<div class="row g-2">
				<div class="col-md">
					<input type="text" class="form-control" placeholder="What are some of the challenges of addressing global warming?" disabled>
					<div class="invalid-feedback">Error text</div>
				</div>
				<div class="col-12 col-md-auto d-flex gap-2 align-items-center justify-content-end justify-content-md-center">
					<div class="btn-group" role="group" aria-label="button group"><button type="button" class="btn btn-outline-info ico ic-edit"></button><button type="button" class="btn btn-outline-info ico ic-delete"></button><button type="button" class="btn btn-outline-info ico ic-chevron"></button></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bg-body border-bottom p-3">
	<div class="row g-2">
		<div class="col-auto">
			<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
				<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
				<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
			</div>
		</div>
		<div class="col">
			<div class="row g-2">
				<div class="col-md">
					<input type="text" class="form-control" placeholder="What are some of the challenges of addressing global warming?">
					<div class="invalid-feedback">Error text</div>
				</div>
				<div class="col-12 col-md-auto d-flex gap-2 align-items-center justify-content-end justify-content-md-center">
					<div class="btn-group" role="group" aria-label="button group"><button type="button" class="btn btn-outline-info ico ic-edit"></button><button type="button" class="btn btn-outline-info ico ic-delete"></button><button type="button" class="btn btn-outline-info ico ic-chevron"></button></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bg-body border-bottom p-3">
	<div class="row g-2">
		<div class="col-auto">
			<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
				<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
				<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
			</div>
		</div>
		<div class="col">
			<div class="row g-2">
				<div class="col-md">
					<input type="text" class="form-control is-invalid" placeholder="What are some of the challenges of addressing global warming?">
					<div class="invalid-feedback">Error text</div>
				</div>
				<div class="col-12 col-md-auto d-flex gap-2 align-items-start justify-content-end">
					<div class="btn-group" role="group" aria-label="button group"><button type="button" class="btn btn-outline-info ico ic-edit"></button><button type="button" class="btn btn-outline-info ico ic-delete"></button><button type="button" class="btn btn-outline-info ico ic-chevron"></button></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- FIX Map item checkpoint  -->
<h4 class="mt-5">Map item checkpoint</h4>
<div class="bg-body border-bottom px-3 py-2">
	<div class="row g-2 align-items-center">
		<div class="col-auto align-self-start">
			<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
				<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
				<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
			</div>
		</div>
		<div class="col-auto">
			<div class="text-info-900 ps-1 pe-3 d-none d-md-block">Checkpoint</div>
		</div>
		<div class="col">
			<div class="row g-2">
				<div class="col-md">
					<input type="text" class="form-control" placeholder="Placeholder">
					<div class="invalid-feedback">Error text</div>
				</div>
				<div class="col-md">
					<div class="input-group has-validation">
						<input type="text" class="form-control" placeholder="Placeholder" aria-label="Password" aria-describedby="button-addon25">
						<button class="btn btn-input ic-eye-close" type="button" id="button-addon25"></button>
						<div class="invalid-feedback">Error text</div>
					</div>
				</div>
				<div class="col-md">
					<div>
						<v-multi-select v-model="value4" :searchable="false" open-direction="bottom" :options="options" :single="true"></v-multi-select>
					</div>
					<div class="invalid-feedback">Error text</div>
				</div>
				<div class="col-12 col-md-auto d-flex gap-2 align-items-center justify-content-end justify-content-md-center">
					<div class="btn-group" role="group" aria-label="button group">
						<button type="button" class="btn btn-outline-info ico ic-delete"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>