<!-- FIX Items  -->
<h2 class="h1 mt-4" id="h3Btn14">Items</h2>
<h4 class="mt-5">Answer-item-2</h4>
<div class="bg-body border-bottom qela-pad-l py-2 pe-3">
	<div class="row g-2">
		<div class="col-auto">
			<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
				<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
				<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
			</div>
		</div>
		<div class="col">
			<div class="row g-1 g-md-2">
				<div class="col">
					<input type="text" class="form-control" placeholder="Placeholder">
					<div class="invalid-feedback">Error text</div>
				</div>
				<div class="col-12 col-md-auto d-flex gap-3 gap-md-2 align-items-center justify-content-end justify-content-md-center">
					<div class="btn-group" role="group" aria-label="button group">
						<button type="button" class="btn btn-outline-info ico ic-delete"></button>
					</div>
					<div class="form-check form-switch px-0 px-md-2">
						<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck17" checked>
						<label class="form-check-label d-block d-md-none" for="SwitchCheck17">Correct</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- FIX Talent-item -->
<h4 class="mt-5">Talent-item</h4>
<div class="bg-body border-bottom p-3">
	<div class="row g-2">
		<div class="col-auto">
			<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
				<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
				<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
			</div>
		</div>
		<div class="col">
			<div class="row g-2">
				<div class="col-md">
					<div>
						<v-multi-select v-model="value4" :searchable="false" open-direction="bottom" :options="options" :single="true"></v-multi-select>
					</div>
					<div class="invalid-feedback">Error text</div>
				</div>
				<div class="col-md">
					<input type="text" class="form-control" placeholder="What are some of the challenges of addressing global warming?">
					<div class="invalid-feedback">Error text</div>
				</div>
				<div class="col-12 col-md-auto d-flex gap-2 align-items-center justify-content-end justify-content-md-center">
					<div class="btn-group" role="group" aria-label="button group">
						<button type="button" class="btn btn-outline-info ico ic-delete"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- FIX Question-items  -->
<h4 class="mt-5">Question-item</h4>
<!-- Question-item default-->
<div>
	<!-- Question-item header-->
	<div class="bg-body border-bottom p-3">
		<div class="row g-2">
			<div class="col-auto">
				<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
					<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
					<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
				</div>
			</div>
			<div class="col">
				<div class="row g-2">
					<div class="col-md"><input type="text" class="form-control" placeholder="What are some of the challenges of addressing global warming?">
						<div class="invalid-feedback">Error text</div>
					</div>
					<div class="col-12 col-md-auto d-flex gap-2 align-items-start justify-content-end">
						<div class="btn-group" role="group" aria-label="button group">
							<button type="button" class="btn btn-outline-info ico ic-edit"></button>
							<button type="button" class="btn btn-outline-info ico ic-delete"></button>
							<button type="button" class="btn btn-outline-info ico ic-chevron" data-bs-toggle="collapse" data-bs-target="#collapseItems1" aria-expanded="false" aria-controls="collapseItems1"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Question-item collapsed body-->
	<div class="collapse" id="collapseItems1">
		<div class="card card-body">
			<!-- Radiobutton group -->
			<div class="qela-pad-l pe-3 py-4">
				<div class="form-check form-check-inline me-5">
					<input type="radio" class="form-check-input" id="Radio5#">
					<label class="form-check-label" for="Radio5#">Single-choice questions</label>
				</div>
				<div class="form-check form-check-inline">
					<input type="radio" class="form-check-input" id="Radio6#" checked>
					<label class="form-check-label" for="Radio6#">Multiple-choice questions</label>
				</div>
			</div>
			<!-- Labels -->
			<div class="bg-body qela-pad-l pt-2 pe-3 pb-1 border-bottom d-none d-md-block">
				<div class="row gx-3">
					<div class="form-label mb-0 col">Answer options</div>
					<div class="form-label mb-0 col-auto me-2">Correct</div>
				</div>
			</div>
			<!-- Answer-item-2 -->
			<div class="bg-body border-bottom qela-pad-l py-2 pe-3">
				<div class="row g-2">
					<div class="col-auto">
						<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
							<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
							<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
						</div>
					</div>
					<div class="col">
						<div class="row g-1 g-md-2">
							<div class="col">
								<input type="text" class="form-control" placeholder="Placeholder">
								<div class="invalid-feedback">Error text</div>
							</div>
							<div class="col-12 col-md-auto d-flex gap-3 gap-md-2 align-items-center justify-content-end justify-content-md-center">
								<div class="btn-group" role="group" aria-label="button group">
									<button type="button" class="btn btn-outline-info ico ic-delete"></button>
								</div>
								<div class="form-check form-switch px-0 px-md-2">
									<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck17" checked>
									<label class="form-check-label d-block d-md-none" for="SwitchCheck17">Correct</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Answer-item-2 -->
			<div class="bg-body border-bottom qela-pad-l py-2 pe-3">
				<div class="row g-2">
					<div class="col-auto">
						<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
							<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
							<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
						</div>
					</div>
					<div class="col">
						<div class="row g-1 g-md-2">
							<div class="col">
								<input type="text" class="form-control" placeholder="Placeholder">
								<div class="invalid-feedback">Error text</div>
							</div>
							<div class="col-12 col-md-auto d-flex gap-3 gap-md-2 align-items-center justify-content-end justify-content-md-center">
								<div class="btn-group" role="group" aria-label="button group">
									<button type="button" class="btn btn-outline-info ico ic-delete"></button>
								</div>
								<div class="form-check form-switch px-0 px-md-2">
									<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck17" checked>
									<label class="form-check-label d-block d-md-none" for="SwitchCheck17">Correct</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Answer-item-2 -->
			<div class="bg-body border-bottom qela-pad-l py-2 pe-3">
				<div class="row g-2">
					<div class="col-auto">
						<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
							<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
							<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
						</div>
					</div>
					<div class="col">
						<div class="row g-1 g-md-2">
							<div class="col">
								<input type="text" class="form-control" placeholder="Placeholder">
								<div class="invalid-feedback">Error text</div>
							</div>
							<div class="col-12 col-md-auto d-flex gap-3 gap-md-2 align-items-center justify-content-end justify-content-md-center">
								<div class="btn-group" role="group" aria-label="button group">
									<button type="button" class="btn btn-outline-info ico ic-delete"></button>
								</div>
								<div class="form-check form-switch px-0 px-md-2">
									<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck17" checked>
									<label class="form-check-label d-block d-md-none" for="SwitchCheck17">Correct</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Answer-item-2 -->
			<div class="bg-body border-bottom qela-pad-l py-2 pe-3">
				<div class="row g-2">
					<div class="col-auto">
						<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
							<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
							<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
						</div>
					</div>
					<div class="col">
						<div class="row g-1 g-md-2">
							<div class="col">
								<input type="text" class="form-control" placeholder="Placeholder">
								<div class="invalid-feedback">Error text</div>
							</div>
							<div class="col-12 col-md-auto d-flex gap-3 gap-md-2 align-items-center justify-content-end justify-content-md-center">
								<div class="btn-group" role="group" aria-label="button group">
									<button type="button" class="btn btn-outline-info ico ic-delete"></button>
								</div>
								<div class="form-check form-switch px-0 px-md-2">
									<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck17" checked>
									<label class="form-check-label d-block d-md-none" for="SwitchCheck17">Correct</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Button sm -->
			<div class="bg-info-200 qela-pad-l py-2">
				<button type="button" class="btn btn-sm btn-secondary ic-plus ico-right">Add answer</button>
			</div>
		</div>
	</div>
</div>
<!-- Question-item disabled-->
<div>
	<!-- Question-item header-->
	<div class="bg-body border-bottom p-3">
		<div class="row g-2">
			<div class="col-auto">
				<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
					<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
					<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
				</div>
			</div>
			<div class="col">
				<div class="row g-2">
					<div class="col-md"><input type="text" class="form-control" disabled placeholder="What are some of the challenges of addressing global warming?">
						<div class="invalid-feedback">Error text</div>
					</div>
					<div class="col-12 col-md-auto d-flex gap-2 align-items-start justify-content-end">
						<div class="btn-group" role="group" aria-label="button group">
							<button type="button" class="btn btn-outline-info ico ic-edit"></button>
							<button type="button" class="btn btn-outline-info ico ic-delete"></button>
							<button type="button" class="btn btn-outline-info ico ic-chevron" data-bs-toggle="collapse" data-bs-target="#collapseItems2" aria-expanded="false" aria-controls="collapseItems2"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Question-item collapsed body-->
	<div class="collapse" id="collapseItems2">
		<div class="card card-body">
			<!-- Radiobutton group -->
			<div class="qela-pad-l pe-3 py-4">
				<div class="form-check form-check-inline me-5">
					<input type="radio" class="form-check-input" id="Radio1#">
					<label class="form-check-label" for="Radio1#">Single-choice questions</label>
				</div>
				<div class="form-check form-check-inline">
					<input type="radio" class="form-check-input" id="Radio2#" checked>
					<label class="form-check-label" for="Radio2#">Multiple-choice questions</label>
				</div>
			</div>
			<!-- Labels -->
			<div class="bg-body qela-pad-l pt-2 pe-3 pb-1 border-bottom d-none d-md-block">
				<div class="row gx-3">
					<div class="form-label mb-0 col">Answer options</div>
					<div class="form-label mb-0 col-auto me-2">Correct</div>
				</div>
			</div>
			<!-- Answer-item-2 -->
			<div class="bg-body border-bottom qela-pad-l py-2 pe-3">
				<div class="row g-2">
					<div class="col-auto">
						<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
							<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
							<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
						</div>
					</div>
					<div class="col">
						<div class="row g-1 g-md-2">
							<div class="col">
								<input type="text" class="form-control" placeholder="Placeholder">
								<div class="invalid-feedback">Error text</div>
							</div>
							<div class="col-12 col-md-auto d-flex gap-3 gap-md-2 align-items-center justify-content-end justify-content-md-center">
								<div class="btn-group" role="group" aria-label="button group">
									<button type="button" class="btn btn-outline-info ico ic-delete"></button>
								</div>
								<div class="form-check form-switch px-0 px-md-2">
									<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck17" checked>
									<label class="form-check-label d-block d-md-none" for="SwitchCheck17">Correct</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Answer-item-2 -->
			<div class="bg-body border-bottom qela-pad-l py-2 pe-3">
				<div class="row g-2">
					<div class="col-auto">
						<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
							<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
							<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
						</div>
					</div>
					<div class="col">
						<div class="row g-1 g-md-2">
							<div class="col">
								<input type="text" class="form-control" placeholder="Placeholder">
								<div class="invalid-feedback">Error text</div>
							</div>
							<div class="col-12 col-md-auto d-flex gap-3 gap-md-2 align-items-center justify-content-end justify-content-md-center">
								<div class="btn-group" role="group" aria-label="button group">
									<button type="button" class="btn btn-outline-info ico ic-delete"></button>
								</div>
								<div class="form-check form-switch px-0 px-md-2">
									<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck17" checked>
									<label class="form-check-label d-block d-md-none" for="SwitchCheck17">Correct</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Answer-item-2 -->
			<div class="bg-body border-bottom qela-pad-l py-2 pe-3">
				<div class="row g-2">
					<div class="col-auto">
						<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
							<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
							<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
						</div>
					</div>
					<div class="col">
						<div class="row g-1 g-md-2">
							<div class="col">
								<input type="text" class="form-control" placeholder="Placeholder">
								<div class="invalid-feedback">Error text</div>
							</div>
							<div class="col-12 col-md-auto d-flex gap-3 gap-md-2 align-items-center justify-content-end justify-content-md-center">
								<div class="btn-group" role="group" aria-label="button group">
									<button type="button" class="btn btn-outline-info ico ic-delete"></button>
								</div>
								<div class="form-check form-switch px-0 px-md-2">
									<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck17" checked>
									<label class="form-check-label d-block d-md-none" for="SwitchCheck17">Correct</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Answer-item-2 -->
			<div class="bg-body border-bottom qela-pad-l py-2 pe-3">
				<div class="row g-2">
					<div class="col-auto">
						<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
							<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
							<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
						</div>
					</div>
					<div class="col">
						<div class="row g-1 g-md-2">
							<div class="col">
								<input type="text" class="form-control" placeholder="Placeholder">
								<div class="invalid-feedback">Error text</div>
							</div>
							<div class="col-12 col-md-auto d-flex gap-3 gap-md-2 align-items-center justify-content-end justify-content-md-center">
								<div class="btn-group" role="group" aria-label="button group">
									<button type="button" class="btn btn-outline-info ico ic-delete"></button>
								</div>
								<div class="form-check form-switch px-0 px-md-2">
									<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck17" checked>
									<label class="form-check-label d-block d-md-none" for="SwitchCheck17">Correct</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Button sm -->
			<div class="bg-info-200 qela-pad-l py-2">
				<button type="button" class="btn btn-sm btn-secondary ic-plus ico-right">Add answer</button>
			</div>
		</div>
	</div>
</div>
<!-- Question-item error-->
<div>
	<!-- Question-item header-->
	<div class="bg-body border-bottom p-3">
		<div class="row g-2">
			<div class="col-auto">
				<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
					<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
					<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
				</div>
			</div>
			<div class="col">
				<div class="row g-2">
					<div class="col-md"><input type="text" class="form-control is-invalid" placeholder="What are some of the challenges of addressing global warming?">
						<div class="invalid-feedback">Error text</div>
					</div>
					<div class="col-12 col-md-auto d-flex gap-2 align-items-start justify-content-end">
						<div class="btn-group" role="group" aria-label="button group">
							<button type="button" class="btn btn-outline-info ico ic-edit"></button>
							<button type="button" class="btn btn-outline-info ico ic-delete"></button>
							<button type="button" class="btn btn-outline-info ico ic-chevron" data-bs-toggle="collapse" data-bs-target="#collapseItems3" aria-expanded="false" aria-controls="collapseItems3"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Question-item collapsed body-->
	<div class="collapse" id="collapseItems3">
		<div class="card card-body">
			<!-- Radiobutton group -->
			<div class="qela-pad-l pe-3 py-4">
				<div class="form-check form-check-inline me-5">
					<input type="radio" class="form-check-input" id="Radio7#">
					<label class="form-check-label" for="Radio7#">Single-choice questions</label>
				</div>
				<div class="form-check form-check-inline">
					<input type="radio" class="form-check-input" id="Radio8#" checked>
					<label class="form-check-label" for="Radio8#">Multiple-choice questions</label>
				</div>
			</div>
			<!-- Labels -->
			<div class="bg-body qela-pad-l pt-2 pe-3 pb-1 border-bottom d-none d-md-block">
				<div class="row gx-3">
					<div class="form-label mb-0 col">Answer options</div>
					<div class="form-label mb-0 col-auto me-2">Correct</div>
				</div>
			</div>
			<!-- Answer-item-2 -->
			<div class="bg-body border-bottom qela-pad-l py-2 pe-3">
				<div class="row g-2">
					<div class="col-auto">
						<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
							<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
							<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
						</div>
					</div>
					<div class="col">
						<div class="row g-1 g-md-2">
							<div class="col">
								<input type="text" class="form-control" placeholder="Placeholder">
								<div class="invalid-feedback">Error text</div>
							</div>
							<div class="col-12 col-md-auto d-flex gap-3 gap-md-2 align-items-center justify-content-end justify-content-md-center">
								<div class="btn-group" role="group" aria-label="button group">
									<button type="button" class="btn btn-outline-info ico ic-delete"></button>
								</div>
								<div class="form-check form-switch px-0 px-md-2">
									<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck17" checked>
									<label class="form-check-label d-block d-md-none" for="SwitchCheck17">Correct</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Answer-item-2 -->
			<div class="bg-body border-bottom qela-pad-l py-2 pe-3">
				<div class="row g-2">
					<div class="col-auto">
						<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
							<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
							<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
						</div>
					</div>
					<div class="col">
						<div class="row g-1 g-md-2">
							<div class="col">
								<input type="text" class="form-control" placeholder="Placeholder">
								<div class="invalid-feedback">Error text</div>
							</div>
							<div class="col-12 col-md-auto d-flex gap-3 gap-md-2 align-items-center justify-content-end justify-content-md-center">
								<div class="btn-group" role="group" aria-label="button group">
									<button type="button" class="btn btn-outline-info ico ic-delete"></button>
								</div>
								<div class="form-check form-switch px-0 px-md-2">
									<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck17" checked>
									<label class="form-check-label d-block d-md-none" for="SwitchCheck17">Correct</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Answer-item-2 -->
			<div class="bg-body border-bottom qela-pad-l py-2 pe-3">
				<div class="row g-2">
					<div class="col-auto">
						<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
							<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
							<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
						</div>
					</div>
					<div class="col">
						<div class="row g-1 g-md-2">
							<div class="col">
								<input type="text" class="form-control" placeholder="Placeholder">
								<div class="invalid-feedback">Error text</div>
							</div>
							<div class="col-12 col-md-auto d-flex gap-3 gap-md-2 align-items-center justify-content-end justify-content-md-center">
								<div class="btn-group" role="group" aria-label="button group">
									<button type="button" class="btn btn-outline-info ico ic-delete"></button>
								</div>
								<div class="form-check form-switch px-0 px-md-2">
									<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck17" checked>
									<label class="form-check-label d-block d-md-none" for="SwitchCheck17">Correct</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Answer-item-2 -->
			<div class="bg-body border-bottom qela-pad-l py-2 pe-3">
				<div class="row g-2">
					<div class="col-auto">
						<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
							<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
							<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
						</div>
					</div>
					<div class="col">
						<div class="row g-1 g-md-2">
							<div class="col">
								<input type="text" class="form-control" placeholder="Placeholder">
								<div class="invalid-feedback">Error text</div>
							</div>
							<div class="col-12 col-md-auto d-flex gap-3 gap-md-2 align-items-center justify-content-end justify-content-md-center">
								<div class="btn-group" role="group" aria-label="button group">
									<button type="button" class="btn btn-outline-info ico ic-delete"></button>
								</div>
								<div class="form-check form-switch px-0 px-md-2">
									<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck17" checked>
									<label class="form-check-label d-block d-md-none" for="SwitchCheck17">Correct</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Button sm -->
			<div class="bg-info-200 qela-pad-l py-2">
				<button type="button" class="btn btn-sm btn-secondary ic-plus ico-right">Add answer</button>
			</div>
		</div>
	</div>
</div>
<!-- FIX Map item checkpoint  -->
<h4 class="mt-5">Map item checkpoint</h4>
<div class="bg-body border-bottom px-3 py-2">
	<div class="row g-2 align-items-center">
		<div class="col-auto align-self-start">
			<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
				<button type="button" class="btn btn-outline-info py-1 py-lg-0 ico ic-triangle-small"></button>
				<button type="button" class="btn btn-outline-info py-1 py-lg-0 ico ic-triangle-inverted-small"></button>
			</div>
		</div>
		<div class="col-auto">
			<div class="text-info-900 ps-1 pe-3 d-none d-lg-block">Checkpoint</div>
		</div>
		<div class="col">
			<div class="row g-2">
				<div class="col-lg">
					<input type="text" class="form-control" placeholder="Placeholder">
					<div class="invalid-feedback">Error text</div>
				</div>
				<div class="col-lg">
					<div class="input-group has-validation">
						<input type="text" class="form-control" placeholder="Placeholder" aria-label="Password" aria-describedby="button-addon25">
						<button class="btn btn-input ic-eye-close" type="button" id="button-addon25"></button>
						<div class="invalid-feedback">Error text</div>
					</div>
				</div>
				<div class="col-lg">
					<div>
						<v-multi-select v-model="value4" :searchable="false" open-direction="bottom" :options="options" :single="true"></v-multi-select>
					</div>
					<div class="invalid-feedback">Error text</div>
				</div>
				<div class="col-12 col-lg-auto d-flex gap-2 align-items-center justify-content-end justify-content-lg-center">
					<div class="btn-group" role="group" aria-label="button group">
						<button type="button" class="btn btn-outline-info ico ic-delete"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- FIX Organization items  -->
<h4 class="mt-5">Organization items</h4>
<div class="border-bottom py-4 d-flex justify-content-between align-items-end flex-wrap">
	<div class="d-flex align-items-center me-0 me-md-2 mb-2 me-md-0">
		<div class="qela-avatar qela-ibg border-0 me-2 me-md-4" style="--img-size: 100px;">
			<img src="img/avatar-100.svg" width="100" height="100" alt="avatar">
		</div>
		<div class="d-flex flex-column">
			<button type="button" class="btn btn-sm btn-outline-info ic-refresh ico-left mb-2">Change logo</button>
			<button type="button" class="btn btn-sm btn-outline-info ic-delete ico-left">Delete</button>
		</div>
	</div>
	<div>
		<div class="d-flex gap-2 align-items-center pb-2">
			<span class="text-info-600">Organization key:</span>
			<span class="flex-grow-1">345</span>
		</div>

		<div class="d-flex gap-2 align-items-center flex-wrap">
			<span class="text-info-600 flex-grow-1">Organization user site link:</span>
			<button type="button" class="btn btn-outline-info ic-file-copy ico-right">www.qela-app</button>
		</div>
	</div>
</div>