<!-- FIX Labels  -->
<h2 class="h1 mt-4" id="h3Btn15">Labels</h2>
<div class="bg-body py-1 qela-pad-l qela-pad-r d-none d-md-block">
	<div class="row gx-3">
		<div class="form-label col-6">Talent Type</div>
		<div class="form-label col-6">Talent Type</div>
	</div>
</div>
<!-- ==== -->
<div class="bg-body qela-pad-l pt-2 pe-3 pb-1 border-bottom d-none d-md-block">
	<div class="row gx-3">
		<div class="form-label col">Answer options</div>
		<div class="form-label col-auto">Correct</div>
	</div>
</div>