<!-- FIX Lists  -->
<h2 class="h1 mt-4" id="h3Btn20">Lists</h2>
<!-- FIX Lists whith button -->
<ul class="list-group list-group-flush pb-3">
	<li class="list-group-item d-flex gap-2 align-items-center flex-wrap flex-xl-nowrap">
		<span class="text-info-600 flex-grow-1 ">Organization user site link:</span>
		<button type="button" class="btn btn-info ic-file-copy ico-right word-break">www.qela-appwww.qela-appwww.qela-appwww.qela-appwww.qela-app</button>
	</li>
</ul>
<!-- FIX Lists whith text -->
<ul class="list-group list-group-flush">
	<li class="list-group-item">
		<div class="row gx-5 align-items-center flex-wrap flex-xl-nowrap">
			<span class="text-info-600 col-sm-4">Address:</span>
			<span class="col-sm-auto">Mykhaila Hrushevskoho St, Kyiv, 01008</span>
		</div>
	</li>
	<li class="list-group-item ">
		<div class="row gx-5 align-items-center flex-wrap flex-xl-nowrap">
			<span class="text-info-600 col-sm-4">Phone Number:</span>
			<span class="col-sm-auto">+38 067 000 00 00</span>
		</div>
	</li>
	<li class="list-group-item ">
		<div class="row gx-5 align-items-center flex-wrap flex-xl-nowrap">
			<span class="text-info-600 col-sm-4">Phone Number:</span>
			<span class="col-sm-auto">+38 067 000 00 00</span>
		</div>
	</li>
	<li class="list-group-item ">
		<div class="row gx-5 align-items-center flex-wrap flex-xl-nowrap">
			<span class="text-info-600 col-sm-4">Email:</span>
			<span class="col-sm-auto">alex.kukhtin@gmail.com</span>
		</div>
	</li>
	<li class="list-group-item ">
		<div class="row gx-5 flex-wrap flex-xl-nowrap">
			<span class="text-info-600 col-sm-4">Organization website link</span>
			<a href="#" class="col-sm-auto text-decoration-none">www.unityforplanet.com</a>
		</div>
	</li>
</ul>
<!-- FIX List item card -->
<h4 class="mt-4">List item card </h4>
<ul class="list-group qela-list">
	<li class="list-group-item">
		<div class="form-check">
			<input type="checkbox" class="form-check-input">
		</div>
		<div class="qela-ibg qela-previews img" style="--img-size: 42px;">
			<img class="rounded" src="img/table-img-1.jpg" width="42" height="42" alt="">
		</div>
		<p class="qela-clamp">Share invite to the Climate Unity March! Share invite to the Climate Unity March! Share invite to the Climate Unity March! Share invite to the Climate Unity March! Share invite to the Climate Unity March! Share invite to the Climate Unity March!</p>
		<div>
			<div class="btns">
				<button type="button" class="btn btn-sm btn-light ico ic-link"></button>
				<button type="button" class="btn btn-sm btn-light ico ic-edit"></button>
			</div>
			<span class="badge bg-secondary message">Just Added</span>
		</div>
	</li>
	<li class="list-group-item">
		<div class="form-check">
			<input type="checkbox" class="form-check-input">
		</div>
		<div class="qela-ibg qela-previews img" style="--img-size: 42px;">
			<img class="rounded" src="img/table-img-1.jpg" width="42" height="42" alt="">
		</div>
		<p class="qela-clamp">Share invite to the Climate Unity March! Share invite to the Climate Unity March! Share invite to the Climate Unity March! Share invite to the Climate Unity March! Share invite to the Climate Unity March! Share invite to the Climate Unity March!</p>
		<div>
			<div class="btns">
				<button type="button" class="btn btn-sm btn-light ico ic-link"></button>
				<button type="button" class="btn btn-sm btn-light ico ic-edit"></button>
			</div>
			<span class="badge bg-secondary message">Just Added</span>
		</div>
	</li>
</ul>
<ul class="list-group qela-list no-outline">
	<li class="list-group-item">
		<div class="form-check">
			<input type="checkbox" class="form-check-input">
		</div>
		<div class="qela-ibg qela-previews img" style="--img-size: 42px;">
			<img class="rounded" src="img/table-img-1.jpg" width="42" height="42" alt="">
		</div>
		<p class="qela-clamp">Share invite to the Climate Unity March! Share invite to the Climate Unity March! Share invite to the Climate Unity March! Share invite to the Climate Unity March! Share invite to the Climate Unity March! Share invite to the Climate Unity March!</p>
		<div>
			<div class="btns">
				<button type="button" class="btn btn-sm btn-light ico ic-link"></button>
				<button type="button" class="btn btn-sm btn-light ico ic-edit"></button>
			</div>
			<span class="badge bg-secondary message">Just Added</span>
		</div>
	</li>
	<li class="list-group-item">
		<div class="form-check">
			<input type="checkbox" class="form-check-input">
		</div>
		<div class="qela-ibg qela-previews img" style="--img-size: 42px;">
			<img class="rounded" src="img/table-img-1.jpg" width="42" height="42" alt="">
		</div>
		<p class="qela-clamp">Share invite to the Climate Unity March! Share invite to the Climate Unity March! Share invite to the Climate Unity March! Share invite to the Climate Unity March! Share invite to the Climate Unity March! Share invite to the Climate Unity March!</p>
		<div>
			<div class="btns">
				<button type="button" class="btn btn-sm btn-light ico ic-link"></button>
				<button type="button" class="btn btn-sm btn-light ico ic-edit"></button>
			</div>
			<span class="badge bg-secondary message">Just Added</span>
		</div>
	</li>
</ul>
<!-- FIX Chain-item + list-->
<h4 class="mt-4">Chain-item + list</h4>
<div class="qela-chain">
	<div class="qela-actions">
		<h2>Quests out of Chain</h2>
		<div class="btns-inline">
			<button type="button" class="btn btn-sm btn-info ico ic-delete"></button>
			<button type="button" class="btn btn-sm btn-info ico ic-edit"></button>
		</div>
	</div>
	<hr>
	<div class="qela-actions">
		<h2>Quests out of Chain</h2>
		<button type="button" class="btn btn-info ic-plus ico-right">Add New Quest </button>
	</div>
	<div class="qela-toolbar no-outline">
		<div class="form-check">
			<input type="checkbox" class="form-check-input" id="Check5x">
			<label class="form-check-label" for="Check5x">select all</label>
		</div>
		<button type="button" class="btn btn-info ic-link ico-right">Chain</button>
	</div>
	<ul class="list-group qela-list no-outline">
		<li class="list-group-item">
			<div class="form-check"><input type="checkbox" class="form-check-input" checked></div>
			<div class="qela-ibg qela-previews img" style="--img-size: 42px;"><img class="rounded" src="img/table-img-1.jpg" width="42" height="42" alt=""></div>
			<p class="qela-clamp">Share invite to the Climate Unity March! Share invite to the Climate Unity March! Share invite to the Climate Unity March! Share invite to the Climate Unity March! Share invite to the Climate Unity March! Share invite to the Climate Unity March!</p>
			<div class="btns"><button type="button" class="btn btn-sm btn-light ico ic-link"></button><button type="button" class="btn btn-sm btn-light ico ic-edit"></button></div>
		</li>
		<li class="list-group-item">
			<div class="form-check"><input type="checkbox" class="form-check-input"></div>
			<div class="qela-ibg qela-previews img" style="--img-size: 42px;"><img class="rounded" src="img/table-img-1.jpg" width="42" height="42" alt=""></div>
			<p class="qela-clamp">Share invite to the Climate Unity March! Share invite to the Climate Unity March! Share invite to the Climate Unity March! Share invite to the Climate Unity March! Share invite to the Climate Unity March! Share invite to the Climate Unity March!</p>
			<div>
				<div class="btns"><button type="button" class="btn btn-sm btn-light ico ic-link"></button><button type="button" class="btn btn-sm btn-light ico ic-edit"></button></div><span class="badge bg-secondary message">Just Added</span>
			</div>
		</li>
	</ul>
</div>