<!-- FIX Lists  -->
<h2 class="h1 mt-4" id="h3Btn20">Lists</h2>
<!-- FIX Lists whith button -->
<ul class="list-group list-group-flush pb-3">
	<li class="list-group-item d-flex gap-2 align-items-center flex-wrap flex-xl-nowrap">
		<span class="text-info-600 flex-grow-1 ">Organization user site link:</span>
		<button type="button" class="btn btn-info ic-file-copy ico-right word-break">www.qela-appwww.qela-appwww.qela-appwww.qela-appwww.qela-app</button>
	</li>
</ul>
<!-- FIX Lists whith text -->
<ul class="list-group list-group-flush">
	<li class="list-group-item">
		<div class="row gx-5 align-items-center flex-wrap flex-xl-nowrap">
			<span class="text-info-600 col-sm-4">Address:</span>
			<span class="col-sm-auto">Mykhaila Hrushevskoho St, Kyiv, 01008</span>
		</div>
	</li>
	<li class="list-group-item ">
		<div class="row gx-5 align-items-center flex-wrap flex-xl-nowrap">
			<span class="text-info-600 col-sm-4">Phone Number:</span>
			<span class="col-sm-auto">+38 067 000 00 00</span>
		</div>
	</li>
	<li class="list-group-item ">
		<div class="row gx-5 align-items-center flex-wrap flex-xl-nowrap">
			<span class="text-info-600 col-sm-4">Phone Number:</span>
			<span class="col-sm-auto">+38 067 000 00 00</span>
		</div>
	</li>
	<li class="list-group-item ">
		<div class="row gx-5 align-items-center flex-wrap flex-xl-nowrap">
			<span class="text-info-600 col-sm-4">Email:</span>
			<span class="col-sm-auto">alex.kukhtin@gmail.com</span>
		</div>
	</li>
	<li class="list-group-item ">
		<div class="row gx-5 flex-wrap flex-xl-nowrap">
			<span class="text-info-600 col-sm-4">Organization website link</span>
			<a href="#" class="col-sm-auto text-decoration-none">www.unityforplanet.com</a>
		</div>
	</li>
</ul>