<!-- FIX Modals  -->
<h2 class="h1 mt-4" id="h3Btn16">Modals</h2>
<!-- Button trigger modal -->
<div>
	<div class="pt-3">
		<button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#modal1">
			modal small
		</button>
		<button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#modal2">
			modal middle
		</button>
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal3">
			modal lg Organization
		</button>
	</div>
	<!-- Modal sm-->
	<div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
		<div class="modal-dialog modal-sm modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="modal1Label">Modal</h1>
					<button type="button" class="btn-close ic-cloze" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to post this way?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-secondary">Publish Now</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal md-->
	<div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
		<div class="modal-dialog modal-md modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Add more info about Location</h1>
					<button type="button" class="btn-close ic-cloze" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form>
						<div class="pb-4">
							<div class="d-flex justify-content-between gap-1">
								<div class="d-flex align-items-start gap-1">
									<label class="form-label">Order</label>
								</div>
							</div>
							<div>
								<v-multi-select v-model="value4" :searchable="false" open-direction="bottom" :options="options" :single="true"></v-multi-select>
							</div>
							<div class="invalid-feedback">Error text</div>
						</div>
						<div class="pb-4">
							<div class="d-flex justify-content-between gap-1">
								<div class="d-flex align-items-start gap-1">
									<label for="textarea1" class="form-label">Address <span class="text-danger">*</span></label>
								</div>
							</div>
							<textarea class="form-control" placeholder="Placeholder" id="textarea1" rows="3"></textarea>
							<div class="invalid-feedback">Error text</div>
							<div class="helper-text">☝️ Displayed to users like Location Name</div>
						</div>
						<div class="pb-4">
							<div class="d-flex justify-content-between gap-1">
								<div class="d-flex align-items-start gap-1">
									<label class="form-label">Radius of area</label>
								</div>
							</div>
							<div>
								<v-multi-select v-model="value4" :searchable="false" open-direction="bottom" :options="options" :single="true"></v-multi-select>
							</div>
							<div class="invalid-feedback">Error text</div>
							<div class="helper-text">☝️ Radius of area around location coordinates where check-in is available</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-secondary ico-right ic-check-big">Save point</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal lg Organization-->
	<div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Invite administrator</h1>
					<button type="button" class="btn-close ic-cloze" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body bg-body">
					<!-- form email -->
					<form>
						<div class="pb-5">
							<div class="d-flex justify-content-between gap-1">
								<div class="d-flex align-items-start gap-1">
									<label for="inputEmail1" class="form-label">Email <span class="text-danger">*</span></label>
								</div>
							</div>
							<input type="email" class="form-control" id="inputEmail1" placeholder="Type client email">
							<div class="invalid-feedback">Error text</div>
							<!-- <div class="helper-text">Helper text</div> -->
						</div>
					</form>
					<!-- title h2 -->
					<h2 class="h6 py-3">Roles</h2>
					<!-- items label-->
					<div class="pt-2 pb-1 d-none d-md-block">
						<div class="row g-0">
							<div class="col">
								<div class="text-info-600">Role</div>
							</div>
							<div class="col-auto">
								<div class="text-info-600 px-3">For Branch</div>
							</div>
							<div class="col">
								<div class="text-info-600 pe-2">Branch Name</div>
							</div>
							<div class="col-md-auto">
								<div class="text-info-600">Action</div>
							</div>
						</div>
					</div>
					<div class="pt-2 pb-3">
						<!-- items selects-->
						<div class="pb-2">
							<div class="row g-1 g-md-2">
								<div class="col">
									<div>
										<div>
											<v-multi-select v-model="value1" :searchable="false" open-direction="bottom" :options="options" :single="true"></v-multi-select>
										</div>
										<div class="invalid-feedback">Error text</div>
									</div>
								</div>
								<div class="col-12 col-md-auto d-flex gap-3 gap-md-2 align-items-center justify-content-end justify-content-md-center">
									<div class="form-check form-switch px-0 px-md-2">
										<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck17" checked>
										<label class="form-check-label d-block d-md-none" for="SwitchCheck17">Correct</label>
									</div>
								</div>
								<div class="col">
									<div>
										<div>
											<v-multi-select v-model="value2" :searchable="false" open-direction="bottom" :options="options" :single="true"></v-multi-select>
										</div>
										<div class="invalid-feedback">Error text</div>
									</div>
								</div>
								<div class="col-12 col-md-auto d-flex gap-3 gap-md-2 align-items-center justify-content-end justify-content-md-center">
									<div class="btn-group" role="group" aria-label="button group"><button type="button" class="btn btn-outline-info ico ic-delete"></button></div>
								</div>
							</div>
						</div>
						<!-- items selects-->
						<div>
							<div class="row g-1 g-md-2">
								<div class="col">
									<div>
										<div>
											<v-multi-select v-model="value3" :searchable="false" open-direction="bottom" :options="options" :single="true"></v-multi-select>
										</div>
										<div class="invalid-feedback">Error text</div>
									</div>
								</div>
								<div class="col-12 col-md-auto d-flex gap-3 gap-md-2 align-items-center justify-content-end justify-content-md-center">
									<div class="form-check form-switch px-0 px-md-2">
										<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck17">
										<label class="form-check-label d-block d-md-none" for="SwitchCheck17">Correct</label>
									</div>
								</div>
								<div class="col">
									<div>
										<div>
											<v-multi-select v-model="value4" :searchable="false" open-direction="bottom" :options="options" :single="true"></v-multi-select>
										</div>
										<div class="invalid-feedback">Error text</div>
									</div>
								</div>
								<div class="col-12 col-md-auto d-flex gap-3 gap-md-2 align-items-center justify-content-end justify-content-md-center">
									<div class="btn-group" role="group" aria-label="button group"><button type="button" class="btn btn-outline-info ico ic-delete"></button></div>
								</div>
							</div>
						</div>
					</div>
					<!-- button-->
					<div class="pb-3">
						<button type="button" class="btn btn-sm btn-secondary ico-right ic-plus">Add New Role</button>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary">Invite Administrator</button>
				</div>
			</div>
		</div>
	</div>
</div>