<!-- FIX Multi-select  -->
<h2 class="h1 mt-4" id="h3Btn6">Multi-select</h2>
<div>
	<label class="form-label">Select multiple</label>
	<div>
		<v-multi-select v-model="value1" :searchable="true" open-direction="bottom" :options="options" :multiple="true" :close-on-select="true"></v-multi-select>
	</div>
	<div class="invalid-feedback">Error text</div>
	<div class="helper-text">Helper text</div>
</div>
<div>
	<label class="form-label">Select multiple</label>
	<div>
		<v-multi-select v-model="value2" :searchable="true" open-direction="bottom" :options="options" :multiple="true" :close-on-select="true" :disabled="true"></v-multi-select>
	</div>
	<div class="invalid-feedback">Error text</div>
	<div class="helper-text">Helper text</div>
</div>
<div>
	<label class="form-label">Select multiple</label>
	<div class="is-invalid">
		<v-multi-select v-model="value3" :searchable="true" open-direction="bottom" :options="options" :multiple="true"></v-multi-select>
	</div>
	<div class="invalid-feedback">Error text</div>
	<div class="helper-text">Helper text</div>
</div>
<div>
	<label class="form-label">Select</label>
	<div>
		<v-multi-select v-model="value4" :searchable="false" open-direction="bottom" :options="options" :single="true"></v-multi-select>
	</div>
	<div class="invalid-feedback">Error text</div>
	<div class="helper-text">Helper text</div>
</div>