<!-- QR-code -->
<!-- FIX QR-code  -->
<h2 class="h1 mt-4" id="h3Btn24">QR code</h2>
<div class="pt-6 px-3 pb-5">
	<div class="pt-3">
		<p>This QR code to check users activities. Supervisor have to provide it to Users after they finish the quest.</p>
		<div class="row h-100 g-3">
			<div class="col-sm-6 pt-4 px-3 pb-0 pb-sm-5">
				<div class="text-info-900 text-center">Show QR Code to users </div>
				<div class="p-4">
					<div class="qela-ibg qela-qr">
						<img src="img/QRCode.svg" alt="QR Code">
					</div>
				</div>
			</div>
			<div class="col-sm-6 p-3 bg-info-200 rounded">
				<div class="d-flex flex-column justify-content-center align-items-center gap-2 h-100">
					<button type="button" class="btn btn-secondary ic-print ico-right">Print</button>
					<div class="text-center">Print QR Code if it’s necessary</div>
				</div>
			</div>
		</div>
	</div>
</div>