<!-- FIX Radiobutton  -->
<h2 class="h1 mt-4" id="h3Btn4">Radiobutton</h2>
<!-- FIX Radiobutton-->
<h4>Radiobutton</h4>
<div>
	<div class="form-check form-check-inline">
		<input type="radio" class="form-check-input" id="Radio1">
	</div>
	<div class="form-check form-check-inline">
		<input type="radio" class="form-check-input" id="Radio2" disabled>
	</div>
</div>
<div>
	<div class="form-check form-check-inline">
		<input type="radio" class="form-check-input" id="Radio3" checked>
	</div>
	<div class="form-check form-check-inline">
		<input type="radio" class="form-check-input" id="Radio4" checked disabled>
	</div>
</div>
<!-- FIX Radiobutton-label-->
<h4>Radiobutton-label</h4>
<div>
	<div class="form-check">
		<input type="radio" class="form-check-input" id="Radio5">
		<label class="form-check-label" for="Radio5">Radiobutton-label</label>
	</div>
	<div class="form-check">
		<input type="radio" class="form-check-input" id="Radio6" disabled>
		<label class="form-check-label" for="Radio6">Radiobutton-label</label>
	</div>
	<div class="form-check">
		<input type="radio" class="form-check-input is-invalid" id="Radio6Error">
		<label class="form-check-label" for="Radio6Error">Radiobutton-label</label>
		<div class="invalid-feedback">
			Error
		</div>
	</div>
</div>
<div>
	<div class="form-check">
		<input type="radio" class="form-check-input" id="Radio7" checked>
		<label class="form-check-label" for="Radio7">Radiobutton-label</label>
	</div>
	<div class="form-check">
		<input type="radio" class="form-check-input" id="Radio8" checked disabled>
		<label class="form-check-label" for="Radio8">Radiobutton-label</label>
	</div>
</div>
<div>
	<div class="form-check">
		<input type="radio" class="form-check-input" id="Radio9">
		<label class="form-check-label" for="Radio9">Radiobutton-label with <a href="#" target="_blank">link</a></label>
	</div>
</div>
<!-- FIX Radiobutton-label, tooltip-->
<h4>Radiobutton-label, tooltip</h4>
<div>
	<div class="form-check">
		<input type="radio" class="form-check-input" id="Radio10">
		<label class="form-check-label me-1" for="Radio10">Radiobutton-label</label>
		<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum sit nulla accumsan sodales ornare."></button>
	</div>
	<div class="form-check">
		<input type="radio" class="form-check-input" id="Radio11" disabled>
		<label class="form-check-label me-1" for="Radio11">Radiobutton-label</label>
		<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum sit nulla accumsan sodales ornare."></button>
	</div>
</div>
<div>
	<div class="form-check">
		<input type="radio" class="form-check-input" id="Radio12" checked>
		<label class="form-check-label me-1" for="Radio12">Radiobutton-label</label>
		<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum sit nulla accumsan sodales ornare."></button>
	</div>
	<div class="form-check">
		<input type="radio" class="form-check-input" id="Radio13" checked disabled>
		<label class="form-check-label me-1" for="Radio13">Radiobutton-label</label>
		<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum sit nulla accumsan sodales ornare."></button>
	</div>
</div>