<!-- FIX Telents  -->
<h2 class="h1 mt-4" id="h3Btn28">Telents</h2>
<!-- awards item violet-->
<div class="qela-telent violet">Recruiting</div>
<!-- awards item green-->
<div class="qela-telent green">Endurance</div>
<!-- awards item orange-->
<div class="qela-telent orange">Eloquence</div>
<!-- awards item lightgreen-->
<div class="qela-telent lightgreen">Determination</div>
<!-- awards item lightblue-->
<div class="qela-telent lightblue">Originality</div>
<!-- awards item blue-->
<div class="qela-telent blue">Management </div>
<!-- awards item pink-->
<div class="qela-telent pink">Savvy</div>