<!-- FIX Telents  -->
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Telents</h2>
	<div class="qela-telent red">Recruiting</div>
	<div class="qela-telent violet">Recruiting</div>
	<div class="qela-telent green">Endurance</div>
	<div class="qela-telent orange">Eloquence</div>
	<div class="qela-telent yellow">Determination</div>
	<div class="qela-telent lightblue">Originality</div>
	<div class="qela-telent blue">Management</div>
	<div class="qela-telent pink">Savvy</div>
	<hr>
	<div class="qela-telent outline-red">Fundraising</div>
	<div class="qela-telent outline-violet">Recruiting</div>
	<div class="qela-telent outline-lightgreen">Endurance</div>
	<div class="qela-telent outline-orange">Endurance</div>
	<div class="qela-telent outline-green">Determination</div>
	<div class="qela-telent outline-lightblue">Originality</div>
	<div class="qela-telent outline-blue">Management</div>
	<div class="qela-telent outline-pink">Savvy</div>
	<!-- telent text-->
	<div class="qela-telent-text red">Originality</div>
	<div class="qela-telent-text violet">Originality</div>
	<div class="qela-telent-text green">Originality</div>
	<div class="qela-telent-text orange">Originality</div>
	<div class="qela-telent-text lightgreen">Originality</div>
	<div class="qela-telent-text lightblue">Originality</div>
	<div class="qela-telent-text blue">Originality</div>
	<div class="qela-telent-text pink">Originality</div>
	<!-- telents items  -->
	<h4 class="mt-4">Telents items</h4>
	<div class="qela-telent-item outline-red">
		<div class="position-relative">
			<i class="ic-achievement-filled"></i>
			<i class="ic-award"></i>
		</div>
		<span class="flex-grow-1">Fundraising</span>
		<span class="badge qela-badge-telent large-xl red">27.0</span>
	</div>
	<div class="qela-telent-item outline-red active">
		<div class="position-relative">
			<i class="ic-achievement-filled"></i>
			<i class="ic-award"></i>
		</div>
		<span class="flex-grow-1">Fundraising</span>
		<span class="badge qela-badge-telent large-xl red">27.0</span>
	</div>
	<div class="qela-telent-item outline-red disabled">
		<div class="position-relative">
			<i class="ic-achievement-filled"></i>
			<i class="ic-award"></i>
		</div>
		<span class="flex-grow-1">Fundraising</span>
		<span class="badge qela-badge-telent large-xl red">27.0</span>
	</div>
	<div class="qela-telent-item outline-violet">
		<div class="position-relative">
			<i class="ic-achievement-filled"></i>
			<i class="ic-award"></i>
		</div>
		<span class="flex-grow-1">Recruiting</span>
		<span class="badge qela-badge-telent large-xl violet">27.0</span>
	</div>
	<div class="qela-telent-item outline-orange">
		<div class="position-relative">
			<i class="ic-achievement-filled"></i>
			<i class="ic-award"></i>
		</div>
		<span class="flex-grow-1">Eloqience</span>
		<span class="badge qela-badge-telent large-xl orange">27.0</span>
	</div>
	<div class="qela-telent-item outline-yellow">
		<div class="position-relative">
			<i class="ic-achievement-filled"></i>
			<i class="ic-award"></i>
		</div>
		<span class="flex-grow-1">Endurance</span>
		<span class="badge qela-badge-telent large-xl yellow">27.0</span>
	</div>
	<div class="qela-telent-item outline-green">
		<div class="position-relative">
			<i class="ic-achievement-filled"></i>
			<i class="ic-award"></i>
		</div>
		<span class="flex-grow-1">Determination</span>
		<span class="badge qela-badge-telent large-xl green">27.0</span>
	</div>
	<div class="qela-telent-item outline-lightblue">
		<div class="position-relative">
			<i class="ic-achievement-filled"></i>
			<i class="ic-award"></i>
		</div>
		<span class="flex-grow-1">Originality</span>
		<span class="badge qela-badge-telent large-xl lightblue">27</span>
	</div>
	<div class="qela-telent-item outline-blue">
		<div class="position-relative">
			<i class="ic-achievement-filled"></i>
			<i class="ic-award"></i>
		</div>
		<span class="flex-grow-1">Management </span>
		<span class="badge qela-badge-telent large-xl blue">27</span>
	</div>
	<div class="qela-telent-item outline-pink">
		<div class="position-relative">
			<i class="ic-achievement-filled"></i>
			<i class="ic-award"></i>
		</div>
		<span class="flex-grow-1">Savvy </span>
		<span class="badge qela-badge-telent large-xl pink">27</span>
	</div>
	<!-- telents list group  -->
	<h4 class="mt-4">Telents list</h4>
	<ul class="list-group qela-list-telents">
		<li class="list-group-item qela-telent-item outline-red active">
			<div class="position-relative">
				<i class="ic-achievement-filled opacity-100"></i>
			</div>
			<span class="flex-grow-1">Fundraising</span>
			<span class="badge qela-badge-telent large-xl red ic-edit">27.0</span>
		</li>
		<li class="list-group-item qela-telent-item outline-violet active">
			<div class="position-relative">
				<i class="ic-achievement-filled opacity-100"></i>
			</div>
			<span class="flex-grow-1">Recruiting</span>
			<span class="badge qela-badge-telent large-xl violet ic-edit">27.0</span>
		</li>
		<li class="list-group-item qela-telent-item outline-orange active">
			<div class="position-relative">
				<i class="ic-achievement-filled opacity-100"></i>
			</div>
			<span class="flex-grow-1">Eloquence</span>
			<span class="badge qela-badge-telent large-xl orange ic-edit">27.0</span>
		</li>
		<li class="list-group-item qela-telent-item outline-yellow active">
			<div class="position-relative">
				<i class="ic-achievement-filled opacity-100"></i>
			</div>
			<span class="flex-grow-1">Endurance</span>
			<span class="badge qela-badge-telent large-xl yellow ic-edit">27.0</span>
		</li>
		<li class="list-group-item qela-telent-item outline-green active">
			<div class="position-relative">
				<i class="ic-achievement-filled opacity-100"></i>
			</div>
			<span class="flex-grow-1">Determination</span>
			<span class="badge qela-badge-telent large-xl green ic-edit">27.0</span>
		</li>
		<li class="list-group-item qela-telent-item outline-lightblue active">
			<div class="position-relative">
				<i class="ic-achievement-filled opacity-100"></i>
			</div>
			<span class="flex-grow-1">Originality</span>
			<span class="badge qela-badge-telent large-xl lightblue ic-edit">27.0</span>
		</li>
		<li class="list-group-item qela-telent-item outline-blue active">
			<div class="position-relative">
				<i class="ic-achievement-filled opacity-100"></i>
			</div>
			<span class="flex-grow-1">Management</span>
			<span class="badge qela-badge-telent large-xl blue ic-edit">27.0</span>
		</li>
		<li class="list-group-item qela-telent-item outline-pink active">
			<div class="position-relative">
				<i class="ic-achievement-filled opacity-100"></i>
			</div>
			<span class="flex-grow-1">Savvy</span>
			<span class="badge qela-badge-telent large-xl pink ic-edit">27.0</span>
		</li>
	</ul>
	<!-- telents list group  -->
	<h4 class="mt-4">Telents nav</h4>
	<ul class="nav qela-telent-nav">
		<li class="nav-item">
			<a href="#" class="nav-link qela-telent-item outline-red" title="">
				<div class="position-relative">
					<i class="ic-achievement-filled"></i>
					<i class="ic-award"></i>
				</div>
				<span class="flex-grow-1">Fundraising</span>
				<span class="badge qela-badge-telent large-xl red">27.0</span>
			</a>
			<div class="dropdown qela-dropdown">
				<button type="button" class="text-info-600 qela-btn-ic ic-dots" data-bs-toggle="dropdown" aria-expanded="false"></button>
				<ul class="dropdown-menu dropdown-menu-end qela-shadow">
					<li>
						<div class="display-7 px-3">Default talents are not customizable</div>
					</li>
					<li>
						<hr class="dropdown-divider">
					</li>
					<li>
						<button type="button" class="dropdown-item ic-edit px-3 py-2">
							Turn off
						</button>
					</li>
					<li>
						<button type="button" class="dropdown-item ic-stop danger px-3 py-2">
							Edit
						</button>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</section>