<!-- FIX Text field  -->
<h2 class="h1 mt-4" id="h3Btn2">Text field</h2>
<!-- FIX Input outline-->
<h4>Input outline</h4>
<div>
	<label for="inputText1" class="form-label">Label</label>
	<input type="text" class="form-control" id="inputText1" placeholder="Name">
	<div class="invalid-feedback">Error text</div>
	<div class="helper-text">Helper text</div>
</div>
<div>
	<label for="inputText2" class="form-label">Label</label>
	<input type="text" class="form-control is-invalid" id="inputText2" placeholder="Name">
	<div class="invalid-feedback">Error text</div>
	<div class="helper-text">Helper text</div>
</div>
<div>
	<label for="inputText3" class="form-label">Label</label>
	<input type="text" class="form-control" disabled id="inputText3" placeholder="Name">
	<div class="invalid-feedback">Error text</div>
	<div class="helper-text">Helper text</div>
</div>
<!-- FIX Input outline small-->
<h4>Input outline small</h4>
<div>
	<label for="inputTextSm1" class="form-label">Label</label>
	<input type="text" class="form-control form-control-sm" id="inputTextSm1" placeholder="Name">
	<div class="invalid-feedback">Error text</div>
	<div class="helper-text">Helper text</div>
</div>
<div>
	<label for="inputTextSm2" class="form-label">Label</label>
	<input type="text" class="form-control form-control-sm is-invalid" id="inputTextSm2" placeholder="Name">
	<div class="invalid-feedback">Error text</div>
	<div class="helper-text">Helper text</div>
</div>
<div>
	<label for="inputTextSm3" class="form-label">Label</label>
	<input type="text" class="form-control form-control-sm" disabled id="inputTextSm3" placeholder="Name">
	<div class="invalid-feedback">Error text</div>
	<div class="helper-text">Helper text</div>
</div>
<!-- FIX Textarea outline-->
<h4 class="mt-4">Textarea outline</h4>
<div>
	<label for="textarea1" class="form-label">Label</label>
	<textarea class="form-control" placeholder="Placeholder" id="textarea1" rows="3"></textarea>
	<div class="invalid-feedback">Error text</div>
	<div class="helper-text">Helper text</div>
</div>
<div>
	<label for="textarea2" class="form-label">Label</label>
	<textarea class="form-control is-invalid" placeholder="Placeholder" id="textarea2" rows="3"></textarea>
	<div class="invalid-feedback">Error text</div>
	<div class="helper-text">Helper text</div>
</div>
<div>
	<label for="textarea3" class="form-label">Label</label>
	<textarea class="form-control" placeholder="Placeholder" disabled id="textarea3" rows="3"></textarea>
	<div class="invalid-feedback">Error text</div>
	<div class="helper-text">Helper text</div>
</div>
<!-- FIX Input group-->
<h4 class="mt-4">Input group</h4>
<div>
	<label for="inputPassword1" class="form-label ">Password</label>
	<div class="input-group has-validation">
		<input type="password" class="form-control" placeholder="Password" aria-label="Password" id="inputPassword1" aria-describedby="button-addon1">
		<button class="btn btn-input ic-eye-close" type="button" id="button-addon1"></button>
		<div class="invalid-feedback">Error text</div>
	</div>
	<div class="helper-text">Helper text</div>
</div>
<div>
	<label for="inputPassword2" class="form-label">Password</label>
	<div class="input-group has-validation is-invalid">
		<input type="password" class="form-control is-invalid" placeholder="Password" id="inputPassword2" aria-label="Password" aria-describedby="button-addon2">
		<button class="btn btn-input ic-eye" type="button" id="button-addon2"></button>
		<div class="invalid-feedback">Error text</div>
	</div>
	<div class="helper-text">Helper text</div>
</div>
<div>
	<label for="inputText4" class="form-label">Label</label>
	<div class="input-group has-validation">
		<input type="text" class="form-control" placeholder="Placeholder" aria-label="Password" id="inputText4" aria-describedby="basic-addon1">
		<span class="input-group-text" id="basic-addon1">@</span>
		<div class="invalid-feedback">Error text</div>
	</div>
	<div class="helper-text">Helper text</div>
</div>
<div>
	<label for="inputText5" class="form-label ">Label</label>
	<div class="input-group has-validation">
		<input type="text" class="form-control" placeholder="Placeholder" aria-label="Text" id="inputText5" aria-describedby="button-addon3">
		<button class="btn btn-outline-light btn-input ico-right ic-plus" type="button" id="button-addon3">Light</button>
		<div class="invalid-feedback">Error text</div>
	</div>
	<div class="helper-text">Helper text</div>
</div>
<div>
	<label for="inputText6" class="form-label">Label</label>
	<div class="input-group has-validation">
		<button class="btn btn-outline-light btn-input ico-right ic-plus" type="button" id="button-addon4">Light</button>
		<input type="text" class="form-control" placeholder="Placeholder" aria-label="Text" id="inputText5" aria-describedby="button-addon4">
		<div class="invalid-feedback">Error text</div>
	</div>
	<div class="helper-text">Helper text</div>
</div>
<div>
	<label for="inputText7" class="form-label">Label</label>
	<div class="input-group has-validation">
		<input type="text" class="form-control" placeholder="Placeholder" disabled id="inputText7" aria-label="Text" aria-describedby="button-addon5">
		<button class="btn btn-input ic-delete" type="button" disabled id="button-addon5"></button>
		<div class="invalid-feedback">Error text</div>
	</div>
	<div class="helper-text">Helper text</div>
</div>
<!-- FIX Input group Small-->
<h4 class="mt-4">Input group Small</h4>
<div>
	<label for="inputPassword1" class="form-label ">Password</label>
	<div class="input-group input-group-sm has-validation">
		<input type="password" class="form-control" placeholder="Password" aria-label="Password" id="inputPassword1" aria-describedby="button-addon1">
		<button class="btn btn-input ic-eye-close" type="button" id="button-addon1"></button>
		<div class="invalid-feedback">Error text</div>
	</div>
	<div class="helper-text">Helper text</div>
</div>
<div>
	<label for="inputPassword2" class="form-label">Password</label>
	<div class="input-group input-group-sm has-validation is-invalid">
		<input type="password" class="form-control is-invalid" placeholder="Password" id="inputPassword2" aria-label="Password" aria-describedby="button-addon2">
		<button class="btn btn-input ic-eye" type="button" id="button-addon2"></button>
		<div class="invalid-feedback">Error text</div>
	</div>
	<div class="helper-text">Helper text</div>
</div>
<div>
	<label for="inputText4" class="form-label">Label</label>
	<div class="input-group input-group-sm has-validation">
		<input type="text" class="form-control" placeholder="Placeholder" aria-label="Password" id="inputText4" aria-describedby="basic-addon1">
		<span class="input-group-text" id="basic-addon1">@</span>
		<div class="invalid-feedback">Error text</div>
	</div>
	<div class="helper-text">Helper text</div>
</div>
<div>
	<label for="inputText5" class="form-label ">Label</label>
	<div class="input-group input-group-sm has-validation">
		<input type="text" class="form-control" placeholder="Placeholder" aria-label="Text" id="inputText5" aria-describedby="button-addon3">
		<button class="btn btn-outline-light btn-input ico-right ic-plus" type="button" id="button-addon3">Light</button>
		<div class="invalid-feedback">Error text</div>
	</div>
	<div class="helper-text">Helper text</div>
</div>
<div>
	<label for="inputText6" class="form-label">Label</label>
	<div class="input-group input-group-sm has-validation">
		<button class="btn btn-outline-light btn-input ico-right ic-plus" type="button" id="button-addon4">Light</button>
		<input type="text" class="form-control" placeholder="Placeholder" aria-label="Text" id="inputText5" aria-describedby="button-addon4">
		<div class="invalid-feedback">Error text</div>
	</div>
	<div class="helper-text">Helper text</div>
</div>
<div>
	<label for="inputText7" class="form-label">Label</label>
	<div class="input-group input-group-sm has-validation">
		<input type="text" class="form-control" placeholder="Placeholder" disabled id="inputText7" aria-label="Text" aria-describedby="button-addon5">
		<button class="btn btn-input ic-delete" type="button" disabled id="button-addon5"></button>
		<div class="invalid-feedback">Error text</div>
	</div>
	<div class="helper-text">Helper text</div>
</div>