<!DOCTYPE html>
<html lang="ua">
  @@include('_head.html',{ "title":"Page" })

  <body class="qela-body ps-0">
    @@include('./components/_header-logo.html',{ "title":"Edit - kurylo.kon@gmail.cofdsfdfsdfsdfsm" })
    <div id="app" v-cloak>
      <main>
        <!-- =====================Список користувачів==================== -->
        <div class="container">
          <div class="row gx-3 mb-3 pt-3">
            <div class="col-lg-9 mb-lg-0 mb-3">
              <div class="border pb-3 pb-md-5 bg-white rounded-2">
                <!-- row-1 (input name) -->
                <div class="p-3 p-sm-4 bg-white rounded-top">
                  <div class="d-flex justify-content-between gap-1">
                    <div class="d-flex align-items-start gap-1">
                      <label for="inputText1" class="form-label"
                        >Label <span class="text-danger">*</span></label
                      >
                      <button
                        type="button"
                        class="btn qela-btn-tooltip ic-help-circle-filled"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."
                      ></button>
                    </div>
                    <label class="form-label">0/<span>2500</span></label>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    id="inputText1"
                    placeholder="Voting Name"
                  />
                  <div class="invalid-feedback">Error text</div>
                </div>
                <!-- row-2 (Radiobutton-label group grid-4 and select)-->
                <div class="p-3 p-sm-4 bg-info-100">
                  <div class="mb-4 px-2 px-sm-3 py-3 py-sm-4 border rounded-2">
                    <div class="row gy-2">
                      <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-12">
                        <div class="form-check">
                          <input
                            type="radio"
                            class="form-check-input"
                            id="Radio3"
                          />
                          <label class="form-check-label" for="Radio3"
                            >Voting for entire organization</label
                          >
                        </div>
                      </div>
                      <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-12">
                        <div class="form-check">
                          <input
                            type="radio"
                            class="form-check-input"
                            checked
                            id="Radio4"
                          />
                          <label class="form-check-label" for="Radio4"
                            >Voting for entire organization</label
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="d-flex justify-content-between gap-1">
                      <div class="d-flex align-items-start gap-1">
                        <label class="form-label"
                          >Select<span class="text-danger">*</span></label
                        >
                        <button
                          type="button"
                          class="btn qela-btn-tooltip ic-help-circle-filled"
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom"
                          data-bs-custom-class="custom-tooltip"
                          data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."
                        ></button>
                      </div>
                      <label class="form-label">hint text</label>
                    </div>
                    <div>
                      <v-multi-select
                        v-model="value4"
                        :searchable="false"
                        open-direction="bottom"
                        :options="options"
                        :single="true"
                      ></v-multi-select>
                    </div>
                    <div class="invalid-feedback">Error text</div>
                  </div>
                </div>
                <!-- row-3 (inputs grid 2 colums col-6)-->
                <div class="p-3 p-sm-4 bg-white">
                  <div class="row gx-4 gy-3">
                    <div class="col-md-6">
                      <div class="d-flex justify-content-between gap-1">
                        <div class="d-flex align-items-start gap-1">
                          <label for="inputText2" class="form-label"
                            >Label <span class="text-danger">*</span></label
                          >
                          <button
                            type="button"
                            class="btn qela-btn-tooltip ic-help-circle-filled"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."
                          ></button>
                        </div>
                        <label class="form-label">0/<span>2500</span></label>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        id="inputText2"
                        placeholder="Voting Name"
                      />
                      <div class="invalid-feedback">Error text</div>
                    </div>
                    <div class="col-md-6">
                      <div class="d-flex justify-content-between gap-1">
                        <div class="d-flex align-items-start gap-1">
                          <label for="inputText3" class="form-label"
                            >Label <span class="text-danger">*</span></label
                          >
                          <button
                            type="button"
                            class="btn qela-btn-tooltip ic-help-circle-filled"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."
                          ></button>
                        </div>
                        <label class="form-label">0/<span>2500</span></label>
                      </div>
                      <input
                        type="text"
                        class="form-control is-invalid"
                        id="inputText3"
                        placeholder="Voting Name"
                      />
                      <div class="invalid-feedback">Error text</div>
                    </div>
                    <div class="col-md-6">
                      <div class="d-flex justify-content-between gap-1">
                        <div class="d-flex align-items-start gap-1">
                          <label for="inputText4" class="form-label"
                            >Label <span class="text-danger">*</span></label
                          >
                          <button
                            type="button"
                            class="btn qela-btn-tooltip ic-help-circle-filled"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."
                          ></button>
                        </div>
                        <label class="form-label">0/<span>2500</span></label>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        id="inputText4"
                        placeholder="Voting Name"
                      />
                      <div class="invalid-feedback">Error text</div>
                    </div>
                    <div class="col-md-6">
                      <div class="d-flex justify-content-between gap-1">
                        <div class="d-flex align-items-start gap-1">
                          <label for="inputText5" class="form-label"
                            >Label <span class="text-danger">*</span></label
                          >
                          <button
                            type="button"
                            class="btn qela-btn-tooltip ic-help-circle-filled"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."
                          ></button>
                        </div>
                        <label class="form-label">0/<span>2500</span></label>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        id="inputText5"
                        placeholder="Voting Name"
                      />
                      <div class="invalid-feedback">Error text</div>
                    </div>
                    <div class="col-md-6">
                      <div class="d-flex justify-content-between gap-1">
                        <div class="d-flex align-items-start gap-1">
                          <label for="inputText6" class="form-label"
                            >Label <span class="text-danger">*</span></label
                          >
                          <button
                            type="button"
                            class="btn qela-btn-tooltip ic-help-circle-filled"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."
                          ></button>
                        </div>
                        <label class="form-label">0/<span>2500</span></label>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        id="inputText6"
                        placeholder="Voting Name"
                      />
                      <div class="invalid-feedback">Error text</div>
                    </div>
                    <div class="col-md-6">
                      <div class="d-flex justify-content-between gap-1">
                        <div class="d-flex align-items-start gap-1">
                          <label for="inputText7" class="form-label"
                            >Label <span class="text-danger">*</span></label
                          >
                          <button
                            type="button"
                            class="btn qela-btn-tooltip ic-help-circle-filled"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."
                          ></button>
                        </div>
                        <label class="form-label">0/<span>2500</span></label>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        id="inputText7"
                        placeholder="Voting Name"
                      />
                      <div class="invalid-feedback">Error text</div>
                    </div>
                  </div>
                </div>
                <!-- row-4 (Radiobutton-label group grid-2 with text right and textarea whith tetx right)-->
                <div class="p-3 p-sm-4 bg-info-100">
                  <div class="row gx-4 gy-3">
                    <div class="col-md-6">
                      <div class="form-label">Voting Type</div>
                      <div class="px-2 px-sm-3 py-3 py-sm-4 border rounded-2">
                        <div class="row gy-2">
                          <div class="col-md-6">
                            <div class="form-check">
                              <input
                                type="radio"
                                class="form-check-input"
                                id="Radio1"
                              />
                              <label class="form-check-label" for="Radio1"
                                >1 Person = 1 Vote</label
                              >
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-check">
                              <input
                                type="radio"
                                class="form-check-input"
                                checked
                                id="Radio2"
                              />
                              <label class="form-check-label" for="Radio2"
                                >Qela formula</label
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <p class="mb-0 pt-md-4">
                        <small
                          >What does it mean. Where it’s going to be used. Place
                          to display in app etc. What does it mean. Where it’s
                          going to be used. Place to display in app etc. What
                          does it mean. Where it’s going to be used. Place to
                          display in app etc.What does it mean. Where it’s going
                          to be used. Place to display in app etc</small
                        >
                      </p>
                    </div>
                    <div class="col-md-8">
                      <div class="d-flex justify-content-between gap-1">
                        <div class="d-flex align-items-start gap-1">
                          <label for="textarea1" class="form-label"
                            >Description<span class="text-danger"
                              >*</span
                            ></label
                          >
                          <button
                            type="button"
                            class="btn qela-btn-tooltip ic-help-circle-filled"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."
                          ></button>
                        </div>
                        <label class="form-label">0/<span>2500</span></label>
                      </div>
                      <textarea
                        class="form-control"
                        placeholder="Enter voting description"
                        id="textarea1"
                        rows="3"
                      ></textarea>
                      <div class="invalid-feedback">Error text</div>
                    </div>
                    <div class="col-md-4">
                      <p class="mb-0 pt-md-4">
                        <small
                          >What does it mean. Where it’s going to be used. Place
                          to display in app etc</small
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <!-- row-5 (Radiobutton-label group grid-4 with text right and textarea) -->
                <div class="p-3 p-sm-4 bg-white">
                  <div class="row gx-4 gy-3">
                    <div class="col-12">
                      <div class="form-label">Voting Type</div>
                      <div class="px-2 px-sm-3 py-3 py-sm-4 border rounded-2">
                        <div class="row gy-2">
                          <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-12">
                            <div class="form-check">
                              <input
                                type="radio"
                                class="form-check-input"
                                id="Radio5"
                              />
                              <label class="form-check-label" for="Radio5"
                                >1 Person = 1 Vote</label
                              >
                            </div>
                          </div>
                          <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-12">
                            <div class="form-check">
                              <input
                                type="radio"
                                class="form-check-input"
                                id="Radio6"
                                checked
                              />
                              <label class="form-check-label" for="Radio6"
                                >Voting for entire organization</label
                              >
                            </div>
                          </div>
                          <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-12">
                            <div class="form-check">
                              <input
                                type="radio"
                                class="form-check-input"
                                id="Radio7"
                                checked
                              />
                              <label class="form-check-label" for="Radio7"
                                >Qela formula</label
                              >
                            </div>
                          </div>
                          <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-12">
                            <div class="form-check">
                              <input
                                type="radio"
                                class="form-check-input"
                                id="Radio8"
                                checked
                              />
                              <label class="form-check-label" for="Radio8"
                                >Qela formula</label
                              >
                            </div>
                          </div>
                          <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-12">
                            <div class="form-check">
                              <input
                                type="radio"
                                class="form-check-input"
                                id="Radio9"
                              />
                              <label class="form-check-label" for="Radio9"
                                >1 Person = 1 Vote</label
                              >
                            </div>
                          </div>
                          <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-12">
                            <div class="form-check">
                              <input
                                type="radio"
                                class="form-check-input"
                                id="Radio10"
                                checked
                              />
                              <label class="form-check-label" for="Radio10"
                                >Qela formula</label
                              >
                            </div>
                          </div>
                          <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-12">
                            <div class="form-check">
                              <input
                                type="radio"
                                class="form-check-input"
                                id="Radio11"
                                checked
                              />
                              <label class="form-check-label" for="Radio11"
                                >Qela formula</label
                              >
                            </div>
                          </div>
                          <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-12">
                            <div class="form-check">
                              <input
                                type="radio"
                                class="form-check-input"
                                id="Radio12"
                                checked
                              />
                              <label class="form-check-label" for="Radio12"
                                >Qela formula</label
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="d-flex justify-content-between gap-1">
                        <div class="d-flex align-items-start gap-1">
                          <label for="textarea2" class="form-label"
                            >Description
                            <span class="text-danger">*</span></label
                          >
                          <button
                            type="button"
                            class="btn qela-btn-tooltip ic-help-circle-filled"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."
                          ></button>
                        </div>
                        <label class="form-label">0/<span>2500</span></label>
                      </div>
                      <textarea
                        class="form-control"
                        placeholder="Enter voting description"
                        id="textarea2"
                        rows="3"
                      ></textarea>
                      <div class="invalid-feedback">Error text</div>
                    </div>
                  </div>
                </div>
                <!-- row-6 (inputs group whith button Add)-->
                <div class="p-3 p-sm-4 bg-info-100 border-bottom">
                  <div class="form-label">Voting answer options</div>
                  <div class="row gy-2">
                    <div class="col-12">
                      <div class="input-group has-validation">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Please fill in answer"
                          aria-label="Text"
                          aria-describedby="button-addon1"
                        />
                        <button
                          class="btn btn-input ic-delete"
                          type="button"
                          id="button-addon1"
                        ></button>
                        <div class="invalid-feedback">Error text</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="input-group has-validation">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Please fill in answer"
                          aria-label="Text"
                          aria-describedby="button-addon2"
                        />
                        <button
                          class="btn btn-input ic-delete"
                          type="button"
                          id="button-addon2"
                        ></button>
                        <div class="invalid-feedback">Error text</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="input-group has-validation">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Please fill in answer"
                          aria-label="Text"
                          aria-describedby="button-addon3"
                        />
                        <button
                          class="btn btn-input ic-delete"
                          type="button"
                          id="button-addon3"
                        ></button>
                        <div class="invalid-feedback">Error text</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="input-group has-validation">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Please fill in answer"
                          aria-label="Text"
                          aria-describedby="button-addon4"
                        />
                        <button
                          class="btn btn-input ic-delete"
                          type="button"
                          id="button-addon4"
                        ></button>
                        <div class="invalid-feedback">Error text</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button
                        type="button"
                        class="btn btn-sm btn-secondary ic-plus ico-right"
                      >
                        Add new option
                      </button>
                    </div>
                  </div>
                </div>
                <!-- row-7 (datapicer)-->
                <div class="p-3 p-sm-4 bg-white">
                  <div class="d-flex justify-content-between gap-1">
                    <div class="d-flex align-items-start gap-1">
                      <label class="form-label"
                        >Datapiker<span class="text-danger">*</span></label
                      >
                      <button
                        type="button"
                        class="btn qela-btn-tooltip ic-help-circle-filled"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."
                      ></button>
                    </div>
                    <label class="form-label">hint text</label>
                  </div>
                  <div>
                    <v-date-picker v-model="date" range multi-calendars />
                  </div>
                  <span class="invalid-feedback">Set start date and time</span>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="border bg-white rounded-2">
                <div class="text-info-600 p-3 p-sm-4">
                  <small>Status: <span class="text-secondary">New</span></small>
                </div>
                <hr />
                <div class="p-3 p-sm-4 d-flex flex-column gap-2">
                  <button
                    type="button"
                    class="btn btn-primary ic-check-big ico-right"
                  >
                    Publish
                  </button>
                  <button type="button" class="btn btn-info">
                    Save as draft
                  </button>
                  <button type="button" class="btn btn-info">Cancel</button>
                </div>
                <hr />
                <div class="p-3">
                  <div
                    class="alert alert-warning qela-alert fade show"
                    role="alert"
                  >
                    <span class="ic-error-warning-fill text-warning"></span>
                    <div class="mb-2">
                      Alert! Editing will not be possible after publication
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script
      src="https://unpkg.com/vue@3.2.47/dist/vue.global.js"
      type="text/javascript"
    ></script>
    <script
      type="text/javascript"
      src="https://www.unpkg.com/vue-multiselect@3.0.0-beta.1/dist/vue-multiselect.js"
    ></script>
    <script src="https://unpkg.com/@vuepic/vue-datepicker@latest"></script>
    <script type="text/javascript">
      let app = Vue.createApp({
        components: {
          "v-date-picker": VueDatePicker,
          "v-multi-select": VueMultiselect.default,
        },
        data() {
          return {
            date: [new Date(), new Date()],
            value1: "",
            value2: "",
            value3: "",
            value4: "",
            options: [
              "Пункт 1 sadafdf",
              "Пункт 2",
              "Пункт 3",
              "Пункт 4",
              "Пункт 1 assadafdf",
              "Пункт 2sades",
              "Пункт 3sd",
              "Пункт 4sd",
            ],
          };
        },
        methods: {
          click() {
            alert(1);
            this.message += " clicked!";
          },
        },
      });
      console.dir(app);
      app.mount("#app");
    </script>
    <!-- =========================== -->
    @@include('_js.html',{})
  </body>
</html>
