.table-qela {
    overflow-y: hidden;
    font-size: 14px;
    .table {
        width: 100%;
        margin-bottom: 0;
    }

    th,
    td {
        white-space: nowrap;
        vertical-align: middle;

        // overflow: hidden;
        // -o-text-overflow: ellipsis;
        // text-overflow: ellipsis;
        // -webkit-box-orient: vertical;
        // -webkit-line-clamp: 1;
        // white-space: nowrap;
        // height: auto;
        // max-width: 50px;
    }

    tr {
        th,
        td {
            &:first-child {
                padding-left: 16px;
            }

            &:last-child {
                padding-right: 16px;
            }
        }
    }

    &.large {
        td {
            font-size: 16px;
        }
    }
    &.qela-sticky {
        th {
            position: sticky;
            top: 0;
            z-index: 90;
        }
    }
}

.qela-tag {
    display: inline-block;
    color: $black;
    transition: color 0.2s ease 0s;
    text-decoration: none;

    &:not(:last-child) {
        margin-right: 3px;
    }

    @media (any-hover: hover) {
        &:hover {
            color: $purple;
        }
    }
}

.qela-voice {
    display: flex;
    align-items: center;
    justify-content: center;

    .body-voice {
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.qela-verification {
    text-align: center;
    width: 100%;

    span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;

        &::before {
            font-size: 16px;
        }
    }
}

.qela-vector {
    position: absolute;
    width: 20px;
    border-left: 2px solid $secondary;
    right: 0;
    top: -1px;
    bottom: -1px;

    &::before {
        content: "";
        display: block;
        width: 100%;
        background-color: $secondary;
        top: 50%;
        transform: translateY(-50%);
        height: 2px;
        position: absolute;
    }

    &.start {
        border-top: 2px solid $secondary;
        border-top-left-radius: 10px;
        height: calc(50% + 1px);
        top: 50%;

        &::before {
            display: none;
        }
    }

    &.end {
        height: calc(50% + 1px);
        border-bottom-left-radius: 10px;
        border-bottom: 2px solid $secondary;

        &::before {
            display: none;
        }
    }
}

.qela-novector {
    color: $info-500;

    &::before {
        font-size: 16px;
    }
}
