header {
	height: 80px;
	z-index: 3;

	@media (max-width:($md3+px)) {
		height: 60px;
	}
}

// search
.qela-search {
	display: flex;
	justify-content: flex-end;
	flex: 1 1 auto;

	&>button {
		color: $gray-500;
		border: none
	}
}

.qela-search__wrapper {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	position: relative;
	transition: all 0.3s ease 0s;
	width: 100%;

	@media (max-width:($md3+px)) {
		position: absolute;
		top: calc(100% + 10px);
		width: calc(100% - 40px);
		left: 50%;
		transform: translateX(-50%);
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	}

	&.active {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
}

// search

.qela-notification {
	padding: 0;
	border: none;
	position: relative;
	color: $gray-500;

	&.active {
		color: $black;
	}
}

.qela-user {
	&>.btn {
		@media (any-hover:hover) {
			&:hover {
				&::before {
					color: $black;
				}
			}
		}

		&::before {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			font-size: 16px;
			color: $gray-500;
			transition: transform 0.3s ease 0s;
		}
	}

	.dropdown-menu {
		width: 280px;
	}
}

.qela-menu {
	width: 80px;
	transition: width 0.3s linear 0s, left 0.3s linear 0s;
	position: fixed;
	left: 0;
	top: 0;

	@media (max-width:($md3+px)) {
		width: 400px;
		left: -110%;
	}

	@media (max-width:($md4+px)) {
		width: 100%;
	}

	&.active {
		width: 230px;

		&::before {
			opacity: 0.2;
			pointer-events: auto;

			@media (max-width:($md3+px)) {
				visibility: visible;
			}
		}

		@media (max-width:($md3+px)) {
			width: 400px;
			left: 0;
		}

		@media (max-width:($md4+px)) {
			width: 100%;
		}
	}

	&::before {
		content: "";
		position: absolute;
		width: 100vw;
		height: 100vh;
		background: $black;
		opacity: 0;
		pointer-events: none;
		transition: opacity .3s linear 0s;
		z-index: 1;
		left: 0;
		top: 0;

		@media (max-width:($md3+px)) {
			transition: none;
			visibility: hidden;
			transition: visibility 0s linear 0.3s;
		}
	}

	.nav {
		padding: 20px;
	}

	.nav-item {
		&:not(:last-child) {
			margin: 0px 0px 10px 0px;
		}

		a {
			padding: 0;


			@media (any-hover:hover) {
				&:hover {
					span {
						color: $black;
					}
				}
			}

			&.active {
				span {
					color: $black;

					&:first-child {
						background-color: $primary;
					}
				}
			}
		}
	}

	span {
		color: $gray-500;
		font-weight: 500;
		transition: color 0.3s ease 0s;

		@media (max-width:($md3+px)) {
			font-size: 18px;
		}

		&:first-child {
			margin: 0px 20px 0px 0px;
		}
	}
}

.qela-nav {
	z-index: 3;
}

.qela-logo {
	padding: 20px;
	height: 80px;
	flex: 0 0 80px;
	background-color: $white;
	z-index: 2;

	@media (max-width:($md3+px)) {
		height: 60px;
		flex: 0 0 60px;
		padding: 0 20px;
		display: flex;
		align-items: center;
	}

	&::before {
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 1px;
		opacity: .2;
		background-color: rgba(126, 131, 137, .53);

	}
}

.qela-nav__wrapper {
	overflow: auto;
	overflow-x: hidden;
	flex: 1 1 auto;
	background-color: $white;
}