.qela-card {
	background-color: $white;
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	padding: 30px;

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;

		h2 {
			margin: 0;
		}

	}
}

.qela-filters {
	display: flex;
	align-items: center;

	.qela-filter {
		&:not(:last-child) {
			margin: 0px 16px 0px 0px;
		}
	}
}

.qela-commits {
	display: flex;
	align-items: center;

	.qela-item {
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin: 0px 16px 0px 0px;
		}

		&::before {
			margin: 0px 8px 0px 0px;
		}

		&.blue {
			&::before {
				color: rgba(57, 175, 242, 1);
			}
		}

		&.green {
			&::before {
				color: rgba(132, 204, 130, 1);
			}
		}
	}
}