.list-users {
	margin: 0px 0px 55px 0px;
	// .list-users__container

	&__container {}

	// .list-users__wrapper
	&__wrapper {
		padding: 30px;
		background: var(--white);
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
		border-radius: 10px;

		@media (max-width:($md3+px)) {
			padding: 15px;
		}
	}

	// .list-users__top

	&__top {
		display: flex;
		margin: 0px 0px 15px 0px;
		align-items: center;

		@media (max-width:($md1+px)) {
			display: block;
			margin: 0px 0px 30px 0px;
		}
	}

	// .list-users__title

	&__title {
		margin: 0px 40px 0px 0px;

		@media (max-width:($md1+px)) {
			margin: 0px 0px var(--gutter) 0px;
		}
	}

	// .list-users__wrap
	&__wrap {
		display: flex;
		align-items: center;
	}

	// .list-users__download

	&__download {
		margin: 0px 0px 0px 40px;
		color: var(--gray);
		transition: color 0.3s ease 0s;

		@media (max-width:($md1+px)) {
			display: inline-block;
		}

		@media (any-hover:hover) {
			&:hover {
				color: var(--black);
			}
		}
	}

	// .list-users__body

	&__body {}

	// .list-users__actions

	&__actions {}

	// .list-users__table

	&__table {}
}


.actions {
	margin: 0px 0px 12px 0px;
	// .actions__body

	&__body {
		display: flex;
		align-items: center;
	}

	// .actions__checkbox

	&__checkbox {}

	// .actions__wrap

	&__wrap {
		position: relative;
	}

	// .actions__button

	&__button {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		line-height: 164%;

		&.active {
			&::before {
				transform: rotate(-180deg);

			}
		}

		&::before {
			color: var(--gray);
			font-size: 14px;
			margin: 0px 0px 0px 4px;
			transition: transform 0.3s ease 0s;
		}
	}

	// .actions__list

	&__list {
		width: 120px;
		background: var(--white);
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
		border-radius: 10px;
		padding: 12px;
		position: absolute;
		z-index: 2;
		left: -8px;
		top: calc(100% + 5px);
		opacity: 0;
		pointer-events: none;
		transition: top 0.3s ease 0s, opacity 0.3s ease 0s;

		&.active {
			top: 100%;
			opacity: 1;
			pointer-events: auto;
		}
	}

	// .actions__item

	&__item {
		&:not(:last-child) {
			margin: 0px 0px 8px 0px;
		}
	}

	// .actions__line

	&__line {
		border: 1px solid rgba(126, 131, 137, 0.2);
		width: 100%;
		display: block;
	}

	// .actions__link

	&__link {
		color: var(--gray);
		font-size: 11px;
		line-height: 18px;
		transition: color 0.3s ease 0s;

		@media (any-hover:hover) {
			&:hover {
				color: var(--black-100);
			}
		}
	}
}


.table {
	overflow: auto;

	// .table__wrapper

	&__wrapper {
		width: 1220px;
		background-color: var(--white);
	}

	// .table__thead

	&__thead {}

	// .table__row

	&__row {
		border-bottom: 1px solid rgba(126, 131, 137, 0.2);
		display: grid;
		gap: 35px;
		grid-template-columns: 1fr 49px 39px 145px 236px 82px 81px 105px;
		padding: 8px 0;

		@media (max-width:($md2+px)) {
			gap: 25px;
		}
	}

	// .table__item

	&__item {
		font-size: 11px;
		color: var(--gray);
		line-height: 164%;
		align-self: center;
	}

	// .table__tbody

	&__tbody {
		.table__item {
			color: var(--black-100);
		}
	}

	// .table__line

	&__line {
		display: grid;
		grid-template-columns: 1fr 49px 39px 145px 236px 82px 81px 105px;
		gap: 35px;
		border-bottom: 1px solid rgba(126, 131, 137, 0.2);
		padding: 8px 0;

		@media (max-width:($md2+px)) {
			gap: 25px;
		}
	}

	// .table__content

	&__content {
		display: flex;
		align-items: center;
	}

	// .table__logo

	&__logo {
		height: 24px;
		width: 24px;
		flex: 0 0 24px;
		border-radius: 50%;
		overflow: hidden;
		margin: 0px 10px 0px 0px;

		img {
			width: 100%;
			display: block;
		}
	}

	// .table__label

	&__label {
		color: var(--black-100);

		&:not(:last-child) {
			margin: 0px 2px 0px 0px;
		}
	}

	// .table__coins

	&__coins {}

	// .table__verification

	// .table__items
	&__items {
		text-align: center;
		width: 100%;
	}

	&__verification {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		color: var(--green);
		background-color: var(--green-lite);
		border-radius: 50%;

		&::before {
			font-size: 13px;
		}

		&.non {
			color: #DF3B28;
			background-color: var(--red-lite);
		}
	}

	// .table__buttons

	&__buttons {
		display: flex;
		align-items: center;
	}

	// .table__btn

	&__btn {
		color: var(--gray);
		transition: color 0.3s ease 0s;

		&:not(:last-child) {
			margin: 0px 10px 0px 0px;
		}

		&::before {
			font-size: 16px;
		}

		@media (any-hover:hover) {
			&:hover {
				color: var(--black);
			}
		}
	}

	// .table__dots

	&__dots {}
}

.coins {
	display: flex;
	font-size: 11px;
	align-items: center;
	width: 100%;

	&__body {
		padding: 4px 8px 4px 5px;
		background: #F7EFC0;
		border-radius: 10px;
		margin: 0 auto;
	}

	img {
		width: 16px;
		height: 16px;
		flex: 0 0 16px;
	}
}

.dots-table {
	margin: 0px 0px 0px 4px;
	font-size: 11px;
	line-height: 13px;
	padding: 0px 9px 0px 0px;
	position: relative;
	cursor: pointer;

	@media (max-width:($md2+px)) {
		font-size: 14px;
		padding: 10px 10px 10px 5px;
		margin: -2px 0px 0px 0px;
	}

	&.active {
		@media (max-width:($md2+px)) {
			.dots-table__body {
				top: 0;
				opacity: 1;
				pointer-events: auto;
			}
		}
	}

	@media (any-hover:hover) {
		&:hover {
			.dots-table__body {
				top: 0;
				opacity: 1;
				pointer-events: auto;
			}
		}
	}

	span {
		pointer-events: none;

	}

	// .dots-table__body

	&__body {
		position: absolute;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
		border-radius: 10px;
		background-color: var(--white);
		padding: 12px;
		left: 100%;
		top: 5px;
		opacity: 0;
		pointer-events: none;
		transition: all 0.3s ease 0s;
	}

	// .dots-table__link

	&__link {
		display: block;
		color: var(--black);
		font-size: 11px;
		line-height: 13px;
		cursor: pointer;

		@media (max-width:($md2+px)) {
			&:not(:last-child) {
				margin: 0px 0px 10px 0px;
			}
		}
	}
}