.qela-statistics {
	background-color: $white;
	border-radius: 10px;
	padding: 40px;
	margin-bottom: 40px;

	@media (max-width:($md3+px)) {
		padding: 20px;
	}

	.row {
		text-align: center;
		align-items: center;
		position: relative;

		&>div {
			position: relative;

			&:nth-child(3) {
				.qela-hv {
					@media (max-width:($md1+px)) {
						display: none;
					}
				}
			}

			.qela-hv {
				@media (max-width:($md3+px)) {
					display: none;
				}
			}
		}
	}

	img {
		display: block;
		margin: 0 auto;
	}
}

.qela-number {
	font-size: 32px;
	line-height: 39px;
}

.qela-label {
	font-size: 11px;
	line-height: 13px;
	color: $gray-600;
}

.qela-hv {
	border-left: 1px solid $gray-400;
	position: absolute;
	height: 90px;
	right: 0;
	top: 50%;
	transform: translateY(-50%);

	@media (max-width:($md1+px)) {
		height: 70px;
	}
}