.table-qela {
	overflow-y: hidden;
	font-size: 14px;

	.table {
		width: 100%;
		margin-bottom: 0;
	}

	th,
	td {
		white-space: nowrap;
	}

	tr {

		th,
		td {
			&:first-child {
				padding-left: 16px;
			}

			&:last-child {
				padding-right: 16px;
			}
		}
	}
}

.qela-tag {
	display: inline-block;
	color: $black;
	transition: color 0.2s ease 0s;
	text-decoration: none;

	&:not(:last-child) {
		margin-right: 3px;
	}

	@media (any-hover:hover) {
		&:hover {
			color: $purple;
		}
	}
}

.qela-voice {
	display: flex;
	align-items: center;
	justify-content: center;

	.body-voice {
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.qela-verification {
	text-align: center;
	width: 100%;

	span {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		border-radius: 50%;

		&::before {
			font-size: 16px;
		}
	}
}