.talent {
	@extend%main-style;
	height: 100%;

	@media (max-width:($md2+px)) {
		align-items: center;
	}

	// .talent__top

	&__top {
		flex: 1 1 auto;
		margin: 0px 0px 30px 0px;
	}

	// .talent__column
	&__column {
		display: flex;
		align-items: center;
	}

	// .talent__title

	&__title {
		margin: 0px 15px 0px 0px;
	}

	// .talent__label

	&__label {
		font-weight: 500;
		line-height: 17px;
		color: var(--gray);
	}

	// .talent__body

	&__body {}

	// .talent__img

	&__img {
		@media (max-width:($md2+px)) {
			max-width: 480px;
		}

		img {
			width: 100%;
			display: block;
		}

		margin: 0px 0px 30px 0px;
	}

	// .talent__botton

	&__botton {}
}