.qela-avatar {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    width: var(--img-size);
    height: var(--img-size);
    flex: 0 0 var(--img-size);
    border-radius: 50%;
    border: 1px solid $info-200;
    img {
        border-radius: 50%;
    }
    &.online,
    &.online-sm {
        position: relative;
        &::before {
            content: "";
            display: block;
            position: absolute;
            z-index: 2;
            background-color: $success;
            border-radius: 50%;
            border: 1px solid $white;
        }
    }
    &.online {
        &::before {
            width: 13px;
            height: 13px;
            right: 8px;
            bottom: 8px;
        }
    }
    &.online-sm {
        &::before {
            width: 10px;
            height: 10px;
            right: 1px;
            bottom: 1px;
        }
    }
}
.qela-users {
    .qela-avatar {
        &:not(:first-child) {
            margin-left: -10px;
        }
    }
}
.qela-qr {
    width: 63.5%;
    display: inline-block;

    @include media-breakpoint-down(sm) {
        width: 100%;
    }

    img {
        width: 100%;
    }
}
