.qela-avatar {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    width: var(--img-size);
    height: var(--img-size);
    flex: 0 0 var(--img-size);
    border-radius: 50%;
    border: 1px solid $info-200;
    img {
        border-radius: 50%;
    }
    &.online,
    &.online-sm {
        position: relative;
        &::before {
            content: "";
            display: block;
            position: absolute;
            z-index: 2;
            background-color: $success;
            border-radius: 50%;
            border: 1px solid $white;
        }
    }
    &.online {
        &::before {
            width: 13px;
            height: 13px;
            right: 8px;
            bottom: 8px;
        }
    }
    &.online-sm {
        &::before {
            width: 10px;
            height: 10px;
            right: 1px;
            bottom: 1px;
        }
    }
}

.qela-video {
    .ql-ibg {
        aspect-ratio: 16/9;
        max-width: 170px;
        border-radius: 0.5rem;
        margin: 1.5rem auto 1rem auto;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba($black, 0.2);
            pointer-events: none;
            z-index: 1;
            border-radius: 0.5rem;
        }
    }

    video {
        border-radius: 0.5rem;
    }

    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.qela-play {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background: rgba($black, 0.3);
    color: $white;
    border-radius: 1rem;
    cursor: pointer;
}

.qela-users {
    .qela-avatar {
        &:not(:first-child) {
            margin-left: -10px;
        }
    }
}

.qela-qr {
    width: 63.5%;
    display: inline-block;

    @media (max-width: ($md4+px)) {
        width: 100%;
    }

    img {
        width: 100%;
    }
}
