.qela-modal {
	&.modal {
		&:has(.card, .table) {
			.qela-modal-empty {
				display: none;
			}
		}
	}

	.modal-body {
		max-height: 565px;
	}
}

.qela-modal-empty {
	margin: 0;
	text-align: center;
	display: block;
}
.qela-quest-template {
	.modal-content,
	.qela-content,
	.qela-tab {
		height: calc(100vh - 104px);
		max-height: 1200px;
	}
	.modal-body {
		padding: 0;
	}
	.qela-tab {
		flex-direction: column;
		align-items: start;
		padding: rem(16);
		border-right: 1px solid $info-300;
		border-bottom: none;
		width: 220px;
		flex-wrap: nowrap;
		.nav-link {
			padding: rem(8) 0 rem(8) rem(16);
			&.active {
				text-decoration: underline;
			}
		}
	}
}
.qela-modal-mob {
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	background: rgba($black, 0.7);
	z-index: 9999;
	.modal-content {
		position: absolute;
		background-color: $modal-content-bg;
		border-radius: $modal-content-border-radius;
	}
	.modal-header {
		padding: $modal-header-padding-y $modal-header-padding-x;
		align-items: flex-start;
		border-bottom: 1px solid $info-300;
	}
	.modal-title {
		font-weight: 700;
		font-size: 16px;
		line-height: 120%;
	}
	.modal-body {
		padding: rem(16);
	}
}
