.qela-tab {
    display: flex;

    @include media-breakpoint-down(md) {
        flex-direction: column;
    }

    .nav-tabs {
        flex: 0 1 240px;
        border-right: $nav-tabs-border-width solid $nav-tabs-border-color;
        border-radius: $nav-tabs-border-radius 0 0 $nav-tabs-border-radius;
        counter-reset: step;

        @include media-breakpoint-down(md) {
            border-bottom: none;
        }

        @include media-breakpoint-down(md) {
            flex: 0 0 auto;
            border-right: none;
            border-radius: $nav-tabs-border-radius $nav-tabs-border-radius 0 0;
            overflow: hidden;

            hr {
                border-top: none;
                border-left: 1px solid $hr-border-color;
                height: 100%;
            }
        }
    }

    .nav-item {
        width: 100%;

        @include media-breakpoint-down(md) {
            width: auto;
        }
    }

    .nav-link {
        text-align: start;
    }
}

.qela-nav-item {
    @include media-breakpoint-down(md) {
        flex: 1 1 auto;
    }

    .nav-link {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        padding: var(--step-pad-start) 48px 16px 16px;
        border-radius: 0;
        background-color: $white;
        margin-bottom: 0;

        &::before {
            content: counter(step);
            counter-increment: step;
            width: var(--step-diametr);
            height: var(--step-diametr);
            flex: 0 0 var(--step-diametr);
            background-color: $info-200;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: $secondary-600;
            margin-right: 1rem;
            position: relative;
            z-index: 2;

            @include media-breakpoint-down(md) {
                margin: 0 auto;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            width: 0;
            height: 0;
            border-top: 9px solid transparent;
            border-right: 9px solid $secondary;
            border-bottom: 9px solid transparent;
            border-left: 0 solid transparent;
            transform: translate(0, -50%);
            opacity: 0;
            transition: opacity 0.2s ease 0s;

            @include media-breakpoint-down(md) {
                top: 100%;
                right: 50%;
                transform: translate(50%, -12px) rotate(90deg);
            }
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: $info-100;
            }
        }

        &.active {
            &::after {
                opacity: 1;
            }

            &::before {
                background-color: $secondary;
                color: $white;
            }

            @include media-breakpoint-down(md) {
                background-color: $info-100;
            }
        }

        &.success {
            &::before {
                content: "\e965";
                font-family: "Icons";
                font-size: 16px;
                border: 3px solid $secondary-300;
                background-color: $secondary-600;
                color: $white;
                transition: all 0.2s ease 0s;
            }

            .line {
                background-color: $secondary;
            }

            &.active {
                &::before {
                    border: 1px solid $secondary;
                    background-color: $secondary;
                }
            }
        }

        &.error {
            color: $info-900;

            &::before {
                content: "\e93e";
                font-family: "Icons";
                font-size: 16px;
                border: 3px solid $danger-100;
                background-color: $danger;
                color: $white;
                transition: all 0.2s ease 0s;
            }

            &::after {
                border-right-color: $danger;
            }
        }

        &.disabled {
            color: $gray-600;

            &::before {
                color: $gray-600;
            }
        }

        @include media-breakpoint-down(md) {
            padding: 16px;
            margin-bottom: 0;
        }
    }

    .line {
        position: absolute;
        height: 100%;
        bottom: 0;
        width: 1px;
        background-color: $info-400;
        left: calc((var(--step-diametr) / 2) + var(--step-pad-start));
        z-index: 1;
        transition: background-color 0.2s linear 0s;

        &.line-start {
            height: 50%;
        }

        &.line-end {
            height: 50%;
            top: 0;
        }

        @include media-breakpoint-down(md) {
            height: 1px;
            width: 100%;
            bottom: 50%;
            left: 0;
            transform: translateY(-50%);

            &.line-start {
                height: 1px;
            }

            &.line-end {
                height: 1px;
                top: auto;
            }
        }
    }

    .link-name {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

.qela-quest {
    &:not(:last-child) {
        .head {
            border-bottom: 1px solid $info-400;
        }
    }

    @media (any-hover: hover) {
        &:hover {
            .head {
                background-color: $info-100;
            }

            .btn {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
            }
        }
    }

    &.active {
        .head {
            @include media-breakpoint-down(md) {
                background-color: $info-200;
            }
        }

        .triangle,
        .btn {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
    }

    .head {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s ease 0s;
        flex-wrap: wrap;

        @include media-breakpoint-down(md) {
            display: block;
        }
    }

    .btn,
    .triangle,
    .content {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition:
            opacity 0.3s ease 0s,
            overflow 0.3s ease 0s;
    }

    .btn {
        @include media-breakpoint-down(md) {
            width: 50%;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }

        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    .triangle {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-top: 11px solid transparent;
        border-right: 11px solid $secondary;
        border-bottom: 11px solid transparent;
        border-left: 0 solid transparent;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

.qela-content {
    transition:
        opacity 0.3s ease 0s,
        visibility 0.2s ease 0s;
    opacity: 0;
    visibility: hidden;
    display: none;
    background-color: $body-bg;

    &.active {
        opacity: 1;
        visibility: visible;
        display: block;
    }
}

.nav-item {
    position: relative;

    .qela-badge {
        &.small {
            position: absolute;
            top: 0;
            transform: translate(-100%, -50%);
            left: calc(100% - 6px);
        }
    }
}

.qela-telent-nav {
    border-radius: 0.75rem;
    border: 1px solid $gray-400;
    flex-direction: column;

    .nav-item {
        transition: background-color 0.3s ease-out 0s;

        @media (any-hover: hover) {
            &:hover {
                background-color: $info-100;

                .nav-link {
                    padding-right: 0.75rem;

                    &.current {
                        padding-right: 1rem;
                    }
                }
            }
        }

        &:first-child {
            border-top-left-radius: 0.75rem;
            border-top-right-radius: 0.75rem;
        }

        &:last-child {
            border-bottom-left-radius: 0.75rem;
            border-bottom-right-radius: 0.75rem;
        }
    }

    .nav-link {
        display: flex;
        align-items: center;
        padding: 0.25rem 0.5rem;
        font-weight: 500;
        line-height: 130%;
        color: $info-900;
        position: relative;
        transition: all 0.3s ease-out 0s;

        &.red {
            &::before {
                background-color: $telent-red-500;
            }

            &::after {
                border-right-color: $telent-red-800;
            }
        }

        &.violet {
            &::before {
                background-color: $telent-violet-500;
            }

            &::after {
                border-right-color: $telent-violet-800;
            }
        }

        &.lightgreen {
            &::before {
                background-color: $telent-lightgreen-500;
            }

            &::after {
                border-right-color: $telent-lightgreen-800;
            }
        }

        &.lightblue {
            &::before {
                background-color: $telent-lightblue-500;
            }

            &::after {
                border-right-color: $telent-lightblue-800;
            }
        }

        &.orange {
            &::before {
                background-color: $telent-orange-500;
            }

            &::after {
                border-right-color: $telent-orange-800;
            }
        }

        &.green {
            &::before {
                background-color: $telent-green-500;
            }

            &::after {
                border-right-color: $telent-green-800;
            }
        }

        &.blue {
            &::before {
                background-color: $telent-blue-500;
            }

            &::after {
                border-right-color: $telent-blue-800;
            }
        }

        &.pink {
            &::before {
                background-color: $telent-pink-500;
            }

            &::after {
                border-right-color: $telent-pink-800;
            }
        }

        &.current {
            padding-right: 1rem;

            &::after {
                opacity: 1;
                visibility: visible;
            }
        }

        &::before {
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin-right: 0.5rem;
        }

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 0 solid transparent;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition:
                opacity 0.3s ease 0s,
                overflow 0.3s ease 0s;
        }

        span {
            &:first-child {
                flex-grow: 1;
            }
        }
    }
}
