.qela-avatar {
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-weight: 500;
	text-transform: uppercase;
	width: var(--img-size);
	height: var(--img-size);
	flex: 0 0 var(--img-size);
	overflow: hidden;
	border-radius: 50%;
	border: 1px solid $info-200;
}

.qela-ibg {
	position: relative;

	img,
	video {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.qela-video {
	.qela-ibg {
		aspect-ratio: 16/9;
		max-width: 170px;
		border-radius: 0.5rem;
		margin: 1.5rem auto 1rem auto;

		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba($black, 0.2);
			pointer-events: none;
			z-index: 1;
			border-radius: 0.5rem;
		}
	}

	video {
		border-radius: 0.5rem;
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.qela-play {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 58px;
	height: 58px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	background: rgba($black, 0.3);
	color: $white;
	border-radius: 1rem;
	cursor: pointer;
}

.qela-users {
	.qela-avatar {
		&:not(:first-child) {
			margin-left: -10px;
		}
	}
}

.qela-previews {
	width: var(--img-size);
	height: var(--img-size);
	flex: 0 0 var(--img-size);
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-weight: 500;
	transition: transform 0.3s ease-out 0s;

	&:not(:last-child) {
		margin-right: 2px;
	}

	@media (any-hover:hover) {
		&:hover {
			&:not(.qela-empty, .img) {
				transform: translateY(-5px);
			}

			&.qela-empty {
				background-color: $secondary-100;
				border-color: $secondary;
			}
		}
	}

}

.qela-empty {
	background-color: $info-100;
	border: 1px solid $info-100;
	transition: all 0.3s ease-out 0s;
	color: $secondary-600;
}

.qela-qr {
	width: 63.5%;
	display: inline-block;

	@media (max-width:($md4+px)) {
		width: 100%;
	}

	img {
		width: 100%;
	}
}