.dropdown {
	&>.btn {
		&::before {
			transition: transform 0.2s ease 0s, color 0.2s ease 0s;
		}

		&.show {
			&::before {
				transform: matrix(1, 0, 0, -1, 0, 0);
				color: $black;
			}
		}
	}
}