.qela-list {
	&.no-outline {
		.list-group-item {
			border: none;
		}
	}

	&.primary {
		.list-group-item {
			border-color: $primary-600;
		}
	}

	&.info {
		.list-group-item {
			border-color: $info-100;
			background-color: $info-100;
		}
	}

	&.info {
		.list-group-item {
			background-color: $info-100;
			transition: background-color 0.3s ease 0s;

			@media (any-hover:hover) {
				&:hover {
					background-color: $info-200;
				}
			}
		}
	}

	.list-group-item {
		border-radius: 0.5rem;
		padding: 1rem 0.5rem 1rem 1rem;
		display: flex;
		align-items: center;
		border-color: $info-400;
		position: relative;

		>a {
			display: flex;
			text-decoration: none;
			align-items: center;
			gap: 1rem;
			color: $info-900;
		}

		&+.list-group-item {
			border-top-width: 1px;
		}

		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}

		&>*:not(:last-child) {
			margin-right: 1rem;
		}

		@media (any-hover:hover) {
			&:hover {
				.btns {
					visibility: visible;
					opacity: 1;
				}
			}
		}

		.qela-clamp {
			-webkit-line-clamp: 2;
			white-space: normal;
			display: -webkit-box;
			margin-bottom: 0;
		}

		.btns {
			display: flex;
			align-items: center;
			visibility: hidden;
			opacity: 0;
			transition: opacity 0.2s ease 0s, visibility 0.2s ease 0s;

			.btn {
				&:not(:last-child) {
					margin-left: 2px;
				}
			}
		}

		.badge {
			position: absolute;
			right: 10px;
			top: -5px;
		}
	}
}


.qela-chain {
	background-color: $white;
	border-radius: 12px;
	border: 1px solid $info-400;
	padding: 0.5rem;
	padding-top: 0;

	hr {
		margin: 0 -0.5rem;
	}

	.qela-actions {
		margin-left: 0.5rem;
		padding-top: 0.5rem;

		h2 {
			font-size: 1rem;
		}
	}

	.qela-toolbar {
		margin-bottom: 0.5rem;
	}

	.qela-list .list-group-item:not(:last-child) {
		margin-bottom: 0;
	}
}

.qela-steps {
	counter-reset: ol-steps;
	padding-left: 0;
	margin-bottom: 0;


	.list-group-item {
		display: flex;
		position: relative;
		--diameter: 32px;
		--gap-num: 10px;

		h3 {
			font-size: 1em;
			margin-bottom: 0.25rem;
			position: relative;
		}

		.badge {
			position: absolute;
			right: 0;
			top: -15px;
		}

		p {
			margin-bottom: 0;
			font-size: 1em;
		}

		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}

		&::before {
			counter-increment: ol-steps;
			content: "" counters(ol-steps, "");
			flex: 0 0 var(--diameter);
			width: var(--diameter);
			height: var(--diameter);
			font-weight: 500;
			font-size: 14px;
			color: $info-900;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid $secondary;
			border-radius: 50%;
			margin-right: 1rem;
		}

		&::after {
			content: '';
			display: block;
			width: 1px;
			height: calc(100% - (var(--diameter) + var(--gap-num)));
			background-color: $secondary;
			position: absolute;
			left: calc(var(--diameter) / 2);
			bottom: 0;
		}

		&:nth-child(-n+9) {
			&::before {
				content: "0" counters(ol-steps, "");
			}
		}
	}

}

.spollers__item-text:nth-child(-n+9)::before {}