.qelas-toast {
	.btn-close {
		border-radius: 0;
		padding: 0;

		&::before {
			font-size: 20px;
		}
	}

	.toast-header {

		[class^="ic-"],
		[class*="ic-"] {
			&::before {
				font-size: 20px;
			}

			border-radius: 6px;
		}
	}

}