<!-- FIX Accordion  -->
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Accordion</h2>
	<!-- FIX Accordion-->
	<h4>Accordion</h4>
	<div class="accordion qela-accordion" id="accordionPanelsStayOpenExample">
		<div class="accordion-item">
			<h2 class="accordion-header" id="panelsStayOpen-headingOne">
				<button class="accordion-button" type="button" data-bs-toggle="collapse"
					data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
					aria-controls="panelsStayOpen-collapseOne">
					Heading1
				</button>
			</h2>
			<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
				aria-labelledby="panelsStayOpen-headingOne">
				<div class="accordion-body">
					Content1
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="panelsStayOpen-headingTwo">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
					data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
					aria-controls="panelsStayOpen-collapseTwo">
					Heading2
				</button>
			</h2>
			<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
				aria-labelledby="panelsStayOpen-headingTwo">
				<div class="accordion-body">
					Content2
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="panelsStayOpen-headingThree">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
					data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
					aria-controls="panelsStayOpen-collapseThree">
					Heading3
				</button>
			</h2>
			<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
				aria-labelledby="panelsStayOpen-headingThree">
				<div class="accordion-body">
					Content3
				</div>
			</div>
		</div>
	</div>

	<!-- FIX Accordion custom content-->
	<h4>Accordion custom content</h4>

</section>