<!-- FIX Map-pin  -->
<section class="d-grid gap-3">
    <h2 class="h1 mt-4">Map-pin</h2>
    <!-- С помощью класса актив пины анимировано появляються и кнему же привязан ховер-->
    <div class="d-flex flex-column align-items-start gap-6 ps-6">
        <div class="ql-pin secondary active">
            <div class="ql-pin__num">
                <small>1</small>
            </div>
            <div class="ql-pin__dot ">
                <div class="ql-pin__area" style="--diameter:85px"></div>
            </div>
        </div>
        <div class="ql-pin danger active">
            <div class="ql-pin__num">
                <small>1</small>
            </div>
            <div class="ql-pin__dot">
                <div class="ql-pin__area" style="--diameter:85px"></div>
            </div>
        </div>
        <div class="ql-pin success active">
            <div class="ql-pin__num">
                <small>1</small>
            </div>
            <div class="ql-pin__dot">
                <div class="ql-pin__area" style="--diameter:85px"></div>
            </div>
        </div>
    </div>
    <h2 class="h4 mt-4">Map-Line</h2>
    <div class="ql-line bg-secondary"></div>
    <div class="ql-line bg-success"></div>
    <div class="ql-line bg-danger"></div>
</section>