<!-- FIX Subscription  -->
<h2 class="h1 mt-4" id="h3Btn35">Subscription</h2>
<!-- FIX Subscription defoult -->
<h4 class="mt-4">Subscription defoult</h4>
<div class="card qela-subscription">
    <div class="card-header">
        <h3 class="h5 text-info-800">101 - 1 000</h3>
        <div><small>users</small></div>
    </div>
    <div class="card-body">
        <div class="qela-price"><span>$</span><span>350</span></div>
        <div class="text-info-600"><small>month</small></div>
    </div>
    <div class="card-footer">
        <div class="btn btn-secondary btn-sm">Upgrade</div>
    </div>
</div>
<!-- FIX Subscription coming-soon -->
<h4 class="mt-4">Subscription coming-soon</h4>
<div class="card coming-soon qela-subscription">
    <div class="card-header">
        <h3 class="h5 text-info-800">101 - 1 000</h3>
        <div><small>users</small></div>
    </div>
    <div class="card-body">
        <div class="qela-price"><span>$</span><span>350</span></div>
        <div class="text-info-600"><small>month</small></div>
    </div>
    <div class="card-footer">
        <span class="badge qela-badge-secondary large-xl ic-loader">Coming soon</span>
    </div>
</div>
<!-- FIX Subscription current -->
<div class="card current qela-subscription">
    <div class="card-header">
        <h3 class="h5 text-info-800">101 - 1 000</h3>
        <div><small>users</small></div>
    </div>
    <div class="card-body">
        <div class="qela-price"><span>$</span><span>350</span></div>
        <div class="text-info-600"><small>month</small></div>
    </div>
    <div class="card-footer">
        <span class="badge qela-badge-success large-xl ic-success">Coming soon</span>
    </div>
</div>