<div class="col-12">
	<ul class="nav nav-tabs">
		<li class="nav-item" role="presentation">
			<button class="nav-link @@if (context.page === 'Campaign-master') {active}">Campaign master</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link @@if (context.page==='Quest') {active}">Quest list</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link @@if (context.page==='Campaign') {active}">Campaign list</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link @@if (context.page==='Quest-chain') {active}">Quest Chain list</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link @@if (context.page==='Guide') {active}">Guide</button>
		</li>
	</ul>
</div>